[2020-09-08 10:21] avtakkar opened #13 "Distribution proposal: support reverse-lookup from a manifest to its referrers (such as an index)"
With regards to the manifest referrer metadata store discussed in https://github.com/notaryproject/nv2/pull/14, two options come to mind for implementing the reverse lookup:

1. Let each manifest have a reverse lookup to all indexes that reference it. Retrieving referrer metadata for a particular manifest would mean first retrieving the indexes, and then following their references to the config ob

[2020-09-21 02:28] SteveLasker opened #15 "What info should be included in list-results"
For now, all objects in a registry are persisted with either an [oci-manifest](https://github.com/opencontainers/image-spec/blob/master/manifest.md), or an [oci-index](https://github.com/opencontainers/image-spec/blob/master/image-index.md) schema.
However, [OCI Artifacts](https://github.com/opencontainers/artifacts) uses these schemas to represent other artifact types that happen to use these two

[2020-09-21 02:38] SteveLasker opened #16 "Identify the depth of role definitions"
Adding signatures, as a security capability leads into the conversation of roles.
How much role definition should we have _in_ the spec, or should we identify opportunities for roles to be used, but not defined specific roles?

An example of a concern:
The distribution-spec doesn't define roles or authorization. Some registries have placed user/org partitions in the root namespace. This created ch

[2020-09-28 04:57] reasonerjt opened #18 "How to sign an index (manifest list)"
More specifically, when signing an index (manifest list), should all referenced artifacts be signed?

By looking at the doc, in this section:
https://github.com/notaryproject/nv2/blob/prototype-1/docs/distribution/persistance-discovery-options.md#signature-persistence---option-2a-oci-index-signing-a-multi-arch-manifest

![multi-arch-signature](https://raw.githubusercontent.com/notaryproject/nv2/pr

[2020-11-30 18:29] dfreilich opened #19 "Add Go lib support (for Buildpacks)"
The [Cloud Native Buildpacks project](buildpacks.io) is considering adding support for notary v2, potentially in https://github.com/buildpacks/lifecycle when constructing images (either as part of our current phases, or as a new phase, depending on project decisions). As such, we will need Go lib support, in order to utilize it as part of the lifecycle.

[2020-12-09 19:22] garantir-admin opened #20 "Support Cryptographic Tokens"
Please add support for **all** keys to be generated, stored, and used from within a cryptographic token. This has been a big issue for a number of large organizations that have requirements to use an HSM (generating the key in software and later importing it into the HSM is **not** an acceptable solution). A PKCS11 integration would be great and flexible enough to support a wide variety of cryptog

[2021-01-11 17:13] jdolitsky opened #21 "Support for GPG?"
Noticed that the prototype uses x509 certs.

What are the reasons (if any) that GPG is insufficient/unsupported?

[2021-01-11 17:14] SteveLasker commented on #21
@shizhMSFT, can you remind us of where we landed on supporting gpg? We initially removed it as we felt it invalidated the secure x509 cert flows. But, I thought you brought it back. Can you elaborate?

[2021-02-24 02:55] dlorenc opened #39 "Signature Format Feedback"
I've had some more time to look over the signature format here: https://github.com/notaryproject/nv2/blob/prototype-1/docs/signature/README.md

Here's some initial feedback:

- The self-signed x509 usage (at least as documented) seems superfluous. A simple public key or JWK would suffice, without the x509 complexity.
  - x509 could make it easier to attach into a large PKI, but I'm not sure which

[2021-02-24 07:55] shizhMSFT commented on #39
The type `x509` generally refers to public keys of a digital signature scheme in the X.509 format. As you have mentioned, it could be as simple as just a public key in PKCS formats.

The cert does not contain the algorithm for an image signature. Technically, the private key associated with the public key in the cert can be used in whatever signature scheme, which supports the key type. For instan

[2021-02-24 13:41] dlorenc commented on #39
Ah thanks for clarifying! - I think it still introduces some potential for mismatch here like the HMAC attacks here: https://auth0.com/blog/critical-vulnerabilities-in-json-web-token-libraries/

Again, this is a criticism of the JWS/JWT specs though that and not really anything specific to nv2.

If we go with x509, I think we would *need* to settle on a specific key usage to prevent protocol attac

[2021-02-24 14:41] dlorenc opened #40 "Proposal: Use the OCI Descriptor as a payload format"
https://github.com/opencontainers/image-spec/blob/master/descriptor.md

All the other payload formats I've seen look roughly like this one with slightly different names and structures. We already have this one standardized with library support, why not use it directly?

[code]
The fields from this proposal can all be mapped in: https://github.com/notaryproject/nv2/tree/prototype-1/docs/signature

[2021-02-24 16:51] dlorenc commented on #21
I would be opposed to directly supporting or encouraging the use of GPG going forward.

[2021-02-24 18:43] jdolitsky commented on #21
@dlorenc - interesting read, thanks for sharing

[2021-02-24 18:43] #21 closed

[2021-03-04 21:00] mmalone commented on #39
If there is a specific threat around misuse of a Web PKI / TLS certificate to generate one of these signatures then you'll probably want to enforce a code signing key use in certs. The digital signature key use often appears in TLS client/server certs. I've looked in the past and I've never been able to find any standard mapping between x509 key usage / extended key usage and JWS operations.

+1 o

[2021-03-18 18:11] SteveLasker commented on #18
Hi @reasonerjt, please see the current approach for using linked artifacts to sign all content:  https://github.com/opencontainers/artifacts/pull/29
We've basically realized simply adding a `config` object to Index was both disruptive and not as scalable as we had hoped. The iterations and experiments have evolved to supporting links to existing artifacts.

[2021-03-20 20:11] dlorenc commented on #40
Hey,

Any interest in this? We're looking into firming up the payload/attestation format soon in sigstore and would like to use the descriptor. We'd really like to use the same thing as other efforts though.

What does it take to ratify something like this?

[2021-03-20 20:16] dlorenc commented on #39
Hey,

Any interest in discussing any of this stuff further? Is there any kind of timeline or process for deciding on what the actual "notary v2 signature" format will be?

It's kind of hard to tell how firm these specs are while the descriptions are in prototype branches.

[2021-03-22 10:26] justincormack commented on #40
The urls field has a very specific meaning in OCI (its for alternate locations, for foreign layers), and I don't think its appropriate to re-use it.

I do wish annotations were at least lists not strings, it means you can't eg have a list of references, which is why the proposal does have a list for references.

[2021-03-22 11:40] dlorenc commented on #40
Actually looking at the usage in the current example, the references field is only used for x509 cert validation. I think that can actually just be dropped rather than reused. If a client wants to do things like inside the location of an image into the signed payload, that should be an annotation rather than a top level field.

I don't think I follow about the list/string part.

[2021-03-22 11:47] justincormack commented on #40
Currently you can't use an annotation to provide a list of values (like the references/URLs) without inventing some microformat, as you can only use each label to provide a single value.

[2021-03-22 11:58] dlorenc commented on #40
Ah I get it. So instead of list[string-string] you mean object{}, or at least list[list[string]-string]. That would be nice.

[2021-03-22 12:12] justincormack commented on #40
I think going to object might be too much, but at least having (in effect) repeated headers is better.

[2021-03-22 12:35] dlorenc commented on #40
@jonjohnsonjr WDYT?

[2021-03-27 05:30] bburky commented on #39
An attractive feature of x509 is it could allow signing with a CA signed certificate (not self-signed like the current examples). A private self signed CA could be used to sign leaf certificates, which make Notary signatures. If clients allowed pinning this CA, you could use it to bootstrap trust.

I also agree in with the other comments here though. You need to decide if you're actually doing x50

[2021-03-28 14:32] dlorenc commented on #39
+1 to all of that @bburky - you basically described the exact design we're trying for over at github.com/sigstore, for all artifact types.

I'm still really hoping we can settle on a standard signature format to work across tools, is there anything I can do to help move this stuff forward? Or any timeline to when we can start iterating on/firming up these things?

[2021-03-28 17:53] bburky commented on #39
@dlorenc Yep, I'm loosely aware of sigstore. It seems like an interesting solution. Something along the lines of "sigstore without fulcio" might make sense for enterprise or CI environments. Enterprises likely have existing PKI infrastructure, and signing in CI would be a non-person entity doing the signing which maps poorly to OIDC.

Notary's half of that would be standardizing the  signature for

[2021-03-28 18:27] dlorenc commented on #39
Exactly! The certificate semantics, timestamp stuff, payload format and signature format are what I'm hoping we can agree on here and reuse in multiple places.

[2021-03-30 09:49] justincormack commented on #39
@mmalone I don't believe there is a misuse issue around PKI certs vs signing certs (ie the security issues are largely around enc vs sign only, and the encryption keys for TLS are ephemeral only). This is why JWS only separates these. As a policy matter you should have keys for different functions for revocation etc reasons, but its not a critical misuse issue.

[2021-04-01 02:36] SteveLasker opened #44 "nv2 sign to support push"
[code]

[2021-04-01 02:36] SteveLasker commented on #44
assigned to @shizhMSFT

[2021-04-01 13:06] shizhMSFT commented on #44
New experience:
[code]

and

[code]

[2021-04-01 13:07] shizhMSFT commented on #44
Closed by e7592477e00f01b9bd5496dd6ba882c47ab77690

[2021-04-02 00:17] SteveLasker opened #45 "docker push to support signed digest updates to a tag"
The title is not meant to imply tag signing, rather we want to assure the validations and eventually the final design accounts for the following scenario:

1. The `net-monitor:v1` image is posted to docker hub, with the wabbit-networks signature, and a digest of `@sha256:aaa`
2. Consumers of the `net-monitor:v1` image monitor the manifest associated with the `:v1` tag, and continually poll for upd

[2021-04-02 00:19] SteveLasker commented on #19
Thanks @dfreilich,
This is a great issue to track. You'll start seeing PRs to https://github.com/notaryproject/notary/ which is designated as the repo for libraries. See: https://github.com/notaryproject/notary/pull/2 for an example.
The /notaryproject/nv2 repo will be for notary v2 binaries, that implement the libraries.

I'm going to transfer this issue from notaryproject/nv2 to notaryproject/no

[2021-04-02 00:21] SteveLasker commented on #18
@reasonerjt, do we need this as an active issue at this point? Just dong some house cleaning.

[2021-04-02 11:57] shizhMSFT commented on #45
The issue is that the `docker push` command does not support push by digest.

In summary,
- `docker` CLI does **not** support push by digest.
  - It has a check at [image_push.go#25](https://github.com/moby/moby/blob/master/client/image_push.go#L25).
- Docker daemon `dockerd` does **not** support push by digest.
  - It has a check at [push_v2.go#91](https://github.com/moby/moby/blob/master/distrib

[2021-04-03 13:45] dlorenc commented on #39
I took a stab at more formally documenting the signature, payload and OCI formats we're using in sigstore here: https://github.com/sigstore/cosign/pull/214

I'm still hoping we can converge on something. I think the biggest disconnect right now is that we're storing the signature/payload separately rather than encoding into a JWS/JWT.

[2021-04-04 02:59] SteveLasker commented on #18
Closing as the current signing design will support signing any oci artifact stored in a registry.

[2021-04-04 02:59] #18 closed

[2021-04-04 21:01] SteveLasker opened #46 "update `docker nv2 push` to use reference"
The current nv2 client uses `link`, instead of `reference`.
To clean up loose ends:
  `docker push $IMAGE`
The output should change from:
  The push refers to repository [registry.wabbit-networks.io/net-monitor]
  8ea3b23f387b: Preparing
  8ea3b23f387b: Pushed
  v1: digest: sha256:31c6d76b9a0af8d2c0a7fc16b43b7d8d9b324aa5ac3ef8c84dc48ab5ba5c0f49 size: 527
  Pushing signature
  signature: digest: sh

[2021-04-04 21:01] SteveLasker commented on #46
Assinging to @shizhMSFT

[2021-04-04 21:13] SteveLasker opened #47 "update `docker nv2` output to reflect manifest references"
`docker nv2 push $IMAGE` generates:
[code]

It denotes:
- signature digest of `...b07d`
- link digest of `...9034`

However, when running `oras discover $IMAGE --plain-http --output-json`, the following output is generated:
[code]

While it's accurate the blob of the signature is `...b07d`, we wish to denote the manifest reference between the signature manifest to the manifest of the $IMAGE refere

[2021-04-06 07:00] shizhMSFT commented on #47
`refers to manifest:` is reduandant as it contains the same information as this line:
[code]

[2021-04-06 07:01] shizhMSFT commented on #46
This issue is covered by #47.

[2021-04-06 07:12] shizhMSFT commented on #47
Resolved by 0d019d4481d69a3844a7f0352b1c2a1c44846695

Here is the output:
[code]

[2021-04-07 00:40] SteveLasker commented on #47
@shizhMSFT looking at [0d019d4](https://github.com/notaryproject/nv2/commit/0d019d4481d69a3844a7f0352b1c2a1c44846695), it looks like you changed the label, but didn't change the digest references.

The description above describes the actual digest values are mixed up and we're referencing the blob digest, rather than the manifest digest

[2021-04-07 00:43] #46 closed

[2021-04-07 01:15] shizhMSFT commented on #47
In this commit 0d019d4, I removed the digest of the signature blob to reduce confusion.

The `signature manifest digest` output is indeed the manifest digest. Note that the `artifactDesc` is the descriptor of the signature artifact manifest.

[2021-04-14 03:16] SteveLasker opened #51 "Support persistence of multiple keys"
The current `nv2` client persists the keys at:
` /home/[user]/.docker/nv2/sha256/[image-digest].jwt`

This means if we have 2 or more keys, they'll override them.

What we'd like to support is:
[code]

In the above case, there are 2 signatures on `registry.wabbit-networks.io/net-monitor:v1`, as it was re-signed after some validation, and pushed to `registry.acme-rockets.io/net-monitor:v1`, Both si

[2021-04-14 03:28] #47 closed

[2021-04-14 03:54] #44 closed

[2021-04-14 07:26] shizhMSFT commented on #51
With #52, `docker notary sign` can sign the same manifest multiple times to different signature files, and save them under `~/.docker/nv2`.
[code]

The output of `docker push` pushing the image with multiple signatures looks like
[code]

[2021-04-14 07:27] shizhMSFT commented on #51
@SteveLasker Before completing your scenario, which signature should be stored when you do `docker pull`? All the sigantures? or the valid one?

[2021-04-15 03:45] SteveLasker commented on #51
I’d suggest all, as pull may get gated by a specific signature, but we want to enable pull & push to copy all signatures. Is that what we’re doing now?

[2021-04-16 11:13] shizhMSFT commented on #51
#

#54 does it.

[2021-04-19 20:05] #51 closed

[2021-04-20 23:11] SteveLasker commented on #13
Closing as this is being tracked through the proposed [reference type working group](https://github.com/opencontainers/tob/issues/96), with the current design tracked through [oci.artifact.manifest PR #29](https://github.com/opencontainers/artifacts/pull/29)

[2021-04-20 23:11] #13 closed

[2021-04-24 00:59] SteveLasker opened #56 "nv2 sign & validate shouldn't require cn = registry name"
We're recently decoupled the CN from the registry name as part of the signing and validation.
However, `docker nv2 notary sign` attempts to match CN with the registry name:

[code]
Followd by:
[code]

Fails with:

[code]

## Expected

Signing to not validate against the CN

[2021-04-25 03:42] shizhMSFT commented on #56
`docker notary sign` and `nv2 sign` add refereneces in the signature claims automatically. Since the signing certificate does not match the domain name, it fails the signing and verification.

Since the reference indicates the declared origin of the artifact, I won't change the notary library for the verification logic. Instead, I will modify the UX for `docker-nv2` and `nv2`.

[2021-04-25 05:53] shizhMSFT commented on #56
With #57, the behavior changes to
[code]

The references can be explicitly added:
[code]

[2021-04-26 20:48] #56 closed

[2021-04-27 03:36] shizhMSFT opened #58 "[docker-nv2] fail to enable notary if `.docker` does not exist"
Thanks @sudo-bmitch for pointing out this issue.

Output:
[code]

[2021-04-27 04:14] shizhMSFT commented on #58
Usually, `docker-nv2` plugin sits in the `.docker/cli-plugins` folder, and thus the assumption is always met.

However, if `docker-nv2` plugin is eventually merged into `docker cli` or the plugin is at other place, this becomes an issue.

[2021-04-28 00:26] #58 closed

[2021-05-28 20:39] SteveLasker opened #63 "nv2 sign to add subject annotation, with consumption within verify"
To support filtering and targeting the specifically referenced artifact, we discussed adding an annotation to the manifest:
https://github.com/SteveLasker/artifacts/blob/oci-artifact-manifest/artifact-manifest/net-monitor-image-signature.json
[code]

The nv2 client can filter artifacts in the referrers API, then further filter the subset of signature manifests to ones the client needs to actual fe

[2021-06-09 03:29] shizhMSFT commented on #63
This effort will be included in `prototype-3`.

[2021-06-11 06:34] shizhMSFT commented on #63
@SteveLasker The annotation `org.cncf.notary.v2.signature.subject` is ambiguous here since it can be one of the following
1. **Common Name (CN)** of the signature signer.
2. The declared reference name of the signed artifact.

Here is an example: A signer with the private key of the cert with `CN=wabbit-networks.io` signs an image `wabbit-dev.com/monitor:v1` with declared reference `wabbit-prod.co

[2021-06-11 06:43] shizhMSFT commented on #63
Besides, how do the clients know the `org.cncf.notary.v2.signature.subject` value in advance to do filtering?

Assuming `CN` is the annotation value, unless the client pins a certain set of names, the clients should download all signatures.

[2021-06-11 15:57] SteveLasker commented on #63
This will be part of the notary v2 spec, to state that signatures must set the value.
As for whether to use `subject`, or another named element and what value to use, I defer to our crypto/key experts.
The purpose here is how can an nv2 client determine which `artifactType` of `cncf.notary.v2` signatures should it pull?

[2021-06-17 23:59] jonjohnsonjr commented on #40
The thing I care about most is that it conforms to the `mediaType`, `size`, `digest` descriptor fields. It would be convenient if everything could be stuffed in `annotations`, but I imagine we'd want more structure than that, which seems fine to add.

[2021-06-29 07:49] shizhMSFT commented on #63
Pop out the `Common Name (CN)` from the certificate associated with the verification key to the `annotations` field might be a good idea. /cc @gokarnm

[2021-06-29 07:57] shizhMSFT commented on #63
Another question for @SteveLasker is why we store the `annotations` at the manifest blob level instead of the blobs level.

For example:
[code]

[2021-07-14 18:57] dlorenc commented on #40
I think based on the last few meetings it sounds like we are heading this direction. Is there a good document location in here to update the status with?

[2021-08-13 17:40] lachie83 opened #66 "Add key generation support to nv2"
The nv2 binary doesn't currently have a way to generate a key pair for signing which makes it harder than it needs to be for new users to use nv2. Please add a subcommand that generates a keypair.

I suggest `nv2 keygen` as a subcommand. At a minimum, it needs to perform the functional equivalent of the following as mentioned [here](https://github.com/notaryproject/nv2/blob/prototype-2/docs/nv2/de

[2021-08-13 17:43] SteveLasker commented on #66
big 👍

[2021-08-13 17:44] lachie83 commented on #66
We might also want to put the keypair in a default location like `~/.notary/keys/` for example so that it can be picked up as a default for other commands for example.

[code]

I would expect that the command could be simplified to `docker notary sign $IMAGE`

[2021-08-13 17:46] SteveLasker commented on #66
to be more generic, we might want to keep with `nv2 sign`, which could reference any artifact (image, sbom, wasm, scan result)

[2021-08-13 18:13] sajayantony opened #67 "Images not accessible in dark theme"
The readme has images that aren't visible correctly in dark theme. Here is a screenshot.

https://github.com/notaryproject/nv2/blob/prototype-2/README.md

![image](https://user-images.githubusercontent.com/1821104/129401810-dbad206b-2cae-4e14-a6c6-ea56bf735a9f.png)

@SteveLasker

[2021-08-13 19:53] SteveLasker commented on #67
ack, I’ll update the background in the next round of content updates.

[2021-08-14 00:56] sajayantony opened #69 "Add certificate management to nv2 docker plugin"
Currently adding and removing certificates from the verification list is really error prone.
Providing an ability to add and remove the certificates would improve the user experience

[code]

[code]

[code]

[code]

[2021-08-16 18:16] SteveLasker opened #71 "Create release builds"
Start autmoation of building binaries for notation as the next iteration commits to main.

[2021-08-17 13:34] dlorenc commented on #66
It's worth calling out that this openssl command does not generate a key, it generates a certificate (which contains a key). If the certificate is self-signed like it is in this case, there's not much value in having it over just a keypair, which can come from something like:

[code]
for the private key and

[code]

for the public key.

I'm not sure about this line:

It seems to put the registry i

[2021-08-18 01:21] sajayantony opened #72 "Move notation cli base directories to .notation"
Currently the base directory for the nv2 clients is located under ~/.docker. This should be moved to a consistent location like ~`~/.notary`~ to ~/.notation since this can be used by multiple toolsets and also sign other artifacts as well.

[code]

/cc @shizhMSFT

--update
- Fix directory to ~/.notation
- Use XDG base directory schemes - https://wiki.archlinux.org/title/XDG_Base_Directory#Support

[2021-08-23 21:11] sajayantony commented on #71
@shizhMSFT - As part of the release workflow can we rename the CLI - https://github.com/theupdateframework/notary/pull/1609/files#diff-59891d08e1d3e26bb7f23f03f9403d62f279d044266fadba8ffb4cf8515031feR11

[2021-08-24 17:34] SteveLasker commented on #72
LGTM

[2021-09-03 18:51] SteveLasker opened #84 "notation pull peek --> notation list"
The most recent prototype uses `notation pull peek $IMAGE`

This issue is to track implementation: `notation list $IMAGE`

Tagging @shizhMSFT

[2021-09-03 19:06] SteveLasker opened #85 "Implement --plain-http as a configuration"
For local testing and IoT scenarios that use plain HTTP, we currently need to add `--plain-http` as a parameter.

- `notation sign --plain-http $IMAGE`
- `notation pull --plain-http --peek $IMAGE`
- `notation verify --plain-http $IMAGE`

Alternatively, what if we added insecureRegistries as a configuration option:

[code]
## Expected Behavior

- `notation sign $IMAGE`
- `notation --list $IMAGE`
-

[2021-09-03 19:30] SteveLasker opened #86 "notation cert generate-test should not add to verification certs"
## Current behavior:
`notation cert generate-test "wabbit-networks.io"`
adds the key to `signingKeys` and `verificationCerts`
[code]

## Expected behavior:

Just thinking we shouldn't assume adding a signing key should imply it should immediately be verifiable. Seems the user should opt-into what they verify.

``notation cert generate-test "wabbit-networks.io"``
would add:
[code]

Then, the user a

[2021-09-03 23:19] SteveLasker commented on #72
Covered in #83

[2021-09-06 05:27] shizhMSFT commented on #71
Notation CLI Alpha has been proposed.
- #83

Release builds are currently available under my repo: https://github.com/shizhMSFT/notation/releases/.

[2021-09-06 08:08] shizhMSFT commented on #84
Looks like a good idea. Will be included in the next iteration.

[2021-09-06 08:37] shizhMSFT commented on #86
Agreed. Will be included in the next iteration.

[2021-09-06 08:38] shizhMSFT commented on #85
Will be included in the next iteration.

[2021-09-06 09:25] shizhMSFT commented on #84
Resolved by 0d29519

[2021-09-06 11:18] shizhMSFT commented on #85
Resolved by 07dada7

[2021-09-06 12:54] shizhMSFT commented on #86
Resolved by 9c5c749.

If the user does want to add the generated cert to the verification list when generated, the option `--trust` should be toggled. Otherwise, the test cert is generated and needs to be added to the verification list manually.

[2021-09-07 18:29] SteveLasker commented on #85
I tried the latest [0.5.2 release](https://github.com/shizhMSFT/notation/releases/tag/v0.5.2), but I wasn't able to remove the `--plain-http` parameter.
I realized I didn't show the expected behavior in the initial issue, so I updated it.

[2021-09-07 18:32] SteveLasker commented on #85
Resolved with the [0.5.2](https://github.com/shizhMSFT/notation/releases/tag/v0.5.2) release

[2021-09-07 18:32] #85 closed

[2021-09-10 17:52] gokarnm opened #88 "Add specifications for notation CLI commands"
Currently we have commands such as cert, key, config, verify and sign implemented in the CLI (PR #79), define spec for the desired user experience and organization of these commands.

[2021-09-10 21:45] #84 closed

[2021-09-10 22:08] priteshbandi opened #89 "[Local Key Signing] Support signing certificate and certificate chain in Configuration file"
* Along with signingKey(private key) we will need signing certificate and certificate chain as signing certificate and certchain will be embedded in signature envelope.
* Also, how about using `default` name for default identity? Although this works better with INI format.

[code]

_Originally posted by @priteshbandi in https://github.com/notaryproject/notation/pull/76#discussion_r700565207_

[2021-09-13 23:17] gokarnm opened #91 "Define experience for notation sign command"
Things to consider
* Should we use a default key or need the user to explicitly specify the key
* Does signing automatically push signature to repo? Which repo?
* How does one filter out private signatures from being automatically pushed to public repos?
* Make params like --trust more intuitive.

Related to #78 #88

[2021-09-15 02:14] SteveLasker opened #92 "Move docs to a `/docs/` subfolder"
hello-signing.md --> docs/hello-signing.md

[2021-09-15 13:52] sajayantony commented on #69
Tracked by Uber issue https://github.com/notaryproject/notation/issues/88

[2021-09-15 13:52] #69 closed

[2021-09-15 13:55] sajayantony commented on #67
Fixed by #78

[2021-09-15 13:55] #67 closed

[2021-09-15 18:49] priteshbandi opened #93 "Tracking issue for pending feedbacks/Issues in PR83(Notation CLI baseline)"
Tracking issue for multiple comments/issues that were called out in https://github.com/notaryproject/notation/pull/83 and needs to be resolved.

Issues marked with [**Alpha**], must to be resolved for alpha release.(We can discuss about prioritization in next meeting)

### Security
- [x] ~~[**Alpha**] [Don’t take password from CLI in plain text](https://github.com/notaryproject/notation/pull/83#di

[2021-09-16 00:16] #66 closed

[2021-09-16 00:16] #86 closed

[2021-09-27 22:06] SteveLasker opened #95 "Notation commands to default to --plain-http for localhost"
Similar to the docker cli, it would help getting started docs to have localhost be assumed to be `--plain-http`
Today, I either need to pass `--plain-http` to each command or add it to the insecure registries collection in the config.
[code]

## Current Behavior
[code]
To get the above to work:
[code]

## Expected Behavior

*Without* creating a `insecureRegistries` entry in the config:
[code]

[2021-09-27 22:20] SteveLasker opened #96 "Notation key/cert list to support -o json output"
When looking to find the currently configured keys or certificates, there's no good way to get the current path as the config files may be in different locations on disk, or may not yet exist.

I may have a config with:
[code]

I now want to add the wabbit-networks.io key to the verification certs collection. I don't know the path to the keys, or in this case, I actually need the certificate.

I w

[2021-09-27 22:24] SteveLasker opened #97 "Notation config should maintain tabs or spaces"
The notation/config.json file currently uses tabs vs. spaces. While I think believe we should default to 2 spaces, this issue is more about maintaining what the user edits.

If I convert the file to spaces, but then call `notation cert add`, I don't really expect the file to be changed.
Curious about opening up pandoras box on tabs vs. spaces, but just adding som UX style issues.

[2021-10-11 15:56] iamsamirzon opened #769 "CLI Cmds for Trust Policy Management"
As a user, I want to configure trust policy using the notation cli  so that I can authenticate signed artifacts.

**Summary**
**Intended Outcome**
The implementation matches with the specification.
**Additional context**
Will be revised based on spec updates in each alpha release. The first alpha release will have a baseline implementation that will continue to get revised until we get to release

[2021-10-14 06:25] shizhMSFT commented on #97
Currently, the indention is 4 spaces.
See https://github.com/notaryproject/notation/blob/main/pkg/config/config.go#L47

[2021-10-18 17:48] iamsamirzon opened #104 "Release notation-v0.7.0-alpha.1"
Proposing we release notation-v0.7.0-alpha.1 as we have completed the milestone. Release process is defined here.

High level deliverables as as follows:

- [x] Decide on main commit for a release
- [ ]  Cut branch named v0.7.0-alpha.1 based on agreed upon main commit
- [x] Cut a tag named v0.7.0-alpha.1
- [x] Update README.md

/cc @SteveLasker @NiazFK  @justincormack @sajayantony

Can the maintai

[2021-10-18 20:52] sajayantony commented on #104
+1

[2021-10-19 00:54] priteshbandi opened #105 "Match implementation with signature specification"
* https://github.com/notaryproject/notation-go-lib/issues/20

[2021-10-20 17:21] priteshbandi opened #109 "Update Quick Start guide"
- [x] Update quick-start guide to use binaries notation repo binaries; currently its pointing to Shiwei's repo.
- [x] Verify the commands in quick-start guide are correct.

[2021-10-20 17:45] sajayantony opened #110 "Add release process documentation"
We need to document the process performed and what tokens to setup for release of the notation CLI.

/cc @shizhMSFT

[2021-10-27 13:15] shizhMSFT opened #114 "[Bug] registry package does not follow the location properly"
The [putBlob()](https://github.com/notaryproject/notation/blob/v0.7.0-alpha.1/pkg/registry/repository.go#L200) in the `notation/pkg/registry` package does not follow the location well as it cannot resolve the relative path properly, causing the following error message:

[code]

Thank @northtyphoon for investigation and finding the root cause of this bug.

[2021-10-27 15:19] shizhMSFT opened #117 "[Bug] Should not always attempt `Basic` auth first"
The current registry requests always attempt `Basic` auth first. Instead, the registry client should do

1. Attempt the request without any credential.
2. Prepare the credential based on the challenge in the response.
3. Attempt the request again with the credential with the requested auth method.

[2021-10-27 22:13] SteveLasker opened #119 "[Feature] notation login"
The current notation cli supports `-u / -p` for each command. However, having to provide the username/password for each command is tedious at best.
Alternatively, cli commands provide a `notation login -u -p` type of experience where the subsequent commands can forgo having to provide the commands each time.

Ideally, this would be provided by the `oras-go` library, and notation just benefits from

[2021-10-30 02:26] #114 closed

[2021-10-30 02:26] #117 closed

[2021-11-01 07:15] shizhMSFT opened #121 "[Bug] Default push on local signing"
The `--push` option is default to `true` when the `--local` option is toggled in the `notation sign` command.
However, the `--push` option should not be ignored if `--push-reference` is present.

Note: The `--pull` option is ignored when the `--local` option is toggled in the `notation verify` command.

[2021-11-02 00:31] SteveLasker commented on #109
@priteshbandi, closing as this looks to be complete.

[2021-11-02 00:31] #109 closed

[2021-11-03 06:58] shizhMSFT opened #124 "[Bug] 401 Unauthorized on Public Registries"
`notation sign` and `notation verify` does not work on public registries with `401 Unauthorized` response.

Example:
[code]

[2021-11-03 07:01] shizhMSFT opened #125 "[Feature] Support identity token when fetching registry access token"
When fetching the bearer token (registry access token), `notation` assumes the auth to the `realm` is basic auth.
However, it could also be a bearer auth.

To present the identity token with bearer auth instead of the basic auth, the users should leave `--username` blank and put the identity token in the `--password`.
[code]

[2021-11-03 07:51] shizhMSFT commented on #125
According to [Docker Registry v2 authentication](https://docs.docker.com/registry/spec/auth/token/#requesting-a-token), identity token support requries OAuth2 support.

[2021-11-05 16:33] #121 closed

[2021-11-05 16:33] #124 closed

[2021-11-09 08:42] shizhMSFT opened #127 "Release notation-v0.7.1-alpha.1"
Since notation `v0.7.0-alpha.1`, we found many bugs and fixed them in the `main` branch.

It is the time to release a patched release `v0.7.1-alpha.1`.

[2021-11-09 08:43] shizhMSFT commented on #127
@SteveLasker could you 👀?

[2021-11-09 12:21] SteveLasker commented on #127
seems good to me. @iamsamirzon ?

[2021-11-09 16:46] iamsamirzon commented on #127
where can I see the list of fixed issues? Also is this backwards compatible ?

[2021-11-10 09:29] shizhMSFT commented on #127
@iamsamirzon They are all in the commit history (see https://github.com/notaryproject/notation/compare/v0.7.0-alpha.1...main).

[2021-11-10 09:32] shizhMSFT commented on #127
Yes, there is no breaking change. That's why it is just a PATCH version update.

[2021-11-10 14:53] SteveLasker commented on #125
@shizhMSFT, is this a short term, or long term fix? Is this something we can unify, where the NOTATION_USERNAME can be set to 0000-000 or something similar to other patterns?
Will this be incorporated into a `notation login`, or an underlying auth provider similar to the `docker login` model?

[2021-11-10 14:54] SteveLasker commented on #95
@shizhMSFT, will this become unified with the oras-go refactoring work?

[2021-11-10 14:54] SteveLasker commented on #92
Docs are moving directly to the notaryproject.dev site.

[2021-11-10 14:54] #92 closed

[2021-11-10 14:56] #110 closed

[2021-11-10 15:04] shizhMSFT commented on #125
@SteveLasker This issue will be on hold until we migrate to [oras-go](https://github.com/oras-project/oras-go).

[2021-11-10 15:05] shizhMSFT commented on #95
@SteveLasker Yes, all registry related work will be done after the `oras-go` refactoring work.

[2021-11-10 15:42] SteveLasker commented on #125
ok, so this is a short-term fix, that makes sense.
From a docs/examples perspective, it would far easier to always have the two variables defined. Can we just update the proposal to use either "" for NOTATION_USERNAME or the 000-000 pattern when using tokens?

[2021-11-10 15:43] SteveLasker commented on #95
Ok, great. Lets leave this issue here to track for completion.
I've updated the labels to reflect a new dependency label.

[2021-11-11 06:37] shizhMSFT commented on #125
Empty string sounds better.
[code]

[2021-11-11 22:25] iamsamirzon commented on #127
Thanks @shizhMSFT . I am good with this.

[2021-11-12 22:01] nelson-wu opened #128 "Improve error messages for notation CLI"
Some examples:

[code]

Perhaps flesh this out more with examples, similar to az cli

[code]

[2021-11-12 22:04] nelson-wu opened #129 "Parsing days in timestamp fails in notation cert generate-test -e"
[code]

Since the -h page gives `--expiry value, -e value  certificate expiry (default: 8760h0m0s)`, I expected it to be able to parse "d" as days. Perhaps clarify the allowed format in the help?

[2021-11-18 03:34] shizhMSFT opened #130 "Update GitHub actions to use `GITHUB_TOKEN`"
Currently, releasing the `notation` requires a personal access token (PAT). It is painful and insecure to temprorily set your PAT in the repo secrets.

According to the [automatic token authentication](https://docs.github.com/en/actions/security-guides/automatic-token-authentication) doc, we can leverage `GITHUB_TOKEN` to further automate the release process.

Files need to be updated:

- `RELEASE

[2021-11-18 03:37] shizhMSFT opened #131 "Always draft on release"
Since the release is done automatically, it is better if a release is released as a draft, and later its status can be changed by a human.

This enables us to

- Prevent accidental releases.
- Edit release note before a formal release.

Files to update

- `.goreleaser.yml`

[2021-11-18 03:39] shizhMSFT opened #132 "Update artifact spec dependency"
A security patch was patched to [oras-project/artifacts-spec v1.0.0-draft.1](https://github.com/oras-project/artifacts-spec/tree/v1.0.0-draft.1). `notation` needs to be update as well to reflect the patch.

[2021-11-18 03:52] sajayantony commented on #132
Should we tag artifacts spec with a new patch tag or update the existing one. What is the common practice here?

[2021-11-18 04:25] shizhMSFT commented on #132
I think a new patch tag would be better. Since `notation` does not show the git commit sha in `notation -v`, it is hard to identify if a binary has been patched or not if it uses the same version number.

[2021-11-18 04:34] sajayantony commented on #132
Can you please open an issue and recommend the tag needed?

On Wed, Nov 17, 2021 at 8:25 PM Shiwei Zhang ***@***.***>
wrote:

[2021-11-18 06:47] shizhMSFT commented on #132
Opened an issue https://github.com/oras-project/artifacts-spec/issues/79.

Before a new release tag for `artifacts-spec` coming out, `notation` will continue reference by `artifacts-spec` commit sha.

[2021-11-19 05:07] #130 closed

[2021-11-19 08:21] shizhMSFT commented on #132
[oras-project/artifacts-spec](https://github.com/oras-project/artifacts-spec/releases/tag/v1.0.0-draft.1.1) has released a new version `v1.0.0-draft.1.1` with the security update.

I will update #133 to reflect the update.

[2021-11-19 14:07] #132 closed

[2021-11-19 14:23] #131 closed

[2021-11-19 14:48] #127 closed

[2021-11-23 18:54] rchincha opened #140 "ci/cd: consider making go routines exportable so other projects can ci/cd against notation"
For example,

https://github.com/notaryproject/notation/blob/main/cmd/notation/cert_gen.go

[2021-11-24 02:25] sajayantony commented on #140
Should this issue be in https://github.com/notaryproject/notation-go-lib

[2021-11-24 03:18] rchincha commented on #140
https://github.com/notaryproject/notation/pull/141
^ here is a draft PR that could help.
Would be even better if some routines can be pulled out without tying to cli context.

[2021-11-24 03:19] rchincha commented on #140
^ looks  a little low-level for the use case in mind. I would have to re-implement signer and verifier perhaps.

[2021-11-30 01:24] SteveLasker commented on #140
Hi @rchincha,
Thanks for the PR and Issue. We're hoping to keep the CLI focused on core CLI scenarios, with minimal surface area. The functionality you need, should be enabled through the go-libraries. But, this does bring up an interesting point for how the notation plug-ins will work.
I'd like to transfer this to the notation-go-lib for tracking. I'll open an issue related to using plug-ins, whe

[2021-12-16 23:49] SteveLasker opened #143 "Consider alternatives for username/password for key vault and registry access"
The current notation cli either requires -u/-p to be passed to `notation sign`, or `$NOTATION_USERNAME` and `$NOTATION_PASSWORD` environment variables to be set.

When combined with a keyvault extension this means users must set the username/passowrd for their keyvault provider and the registry.

This has added some complications, leading to confusion and errors.

I can think of two distinct scena

[2021-12-17 00:26] sudo-bmitch commented on #143
I instinctively want to push this into the extensibility layer and get rid of having notation itself handle these options for the key management. They make sense for registries since that interface is fairly standardized, but that doesn't exist on the signing key side.

On the docker side, the closest equivalent is the various drivers and driver options passed as one flag with a comma separated va

[2021-12-17 06:53] shizhMSFT commented on #143
Since it is about the registry credentials, the `notation` CLI can reuse the [credential store](https://docs.docker.com/engine/reference/commandline/login/#credentials-store) from [docker CLI](https://github.com/docker/cli).

[2021-12-17 12:15] SteveLasker commented on #143
i like it, when the docker cli is installed. But, what do we do if someone is building with other tools? We have the same general issue for oras. Or, on the node that runs verify? On the verify node, we can likely take advantage of MI. For sign, many can use MI, but not all.

[2021-12-18 03:17] shizhMSFT commented on #143
@SteveLasker For Ratify, it can leverage the `oras-go`, `notation-go`, MSAL libraries directly without bothering the CLIs.

[2021-12-21 15:48] bshaaban opened #145 "Support for Cloud vaults"
Hello Notary project members, this is my first issue here and hopefully I'll be starting to contribute soon as well.

I've seen there's been an issue created about [vault credentials exchange alternatives](https://github.com/notaryproject/notation/issues/143) where Azure cloud is mentioned in the comments.

But I have not seen an official cloud vault integration support mentioned in the spec nor i

[2022-01-14 21:35] SteveLasker commented on #143
@sudo-bmitch was right-on, and we've moved this to the [plug-in spec](https://github.com/notaryproject/roadmap/issues/26). The default sign/push flow would only need to deal with the registry as the default provider can do local signing. Any remote signing would require a plug-in.

Closing

[2022-01-14 21:35] #143 closed

[2022-01-14 21:36] SteveLasker commented on #145
Hi @bshaaban, thanks for the issue.
We have implemented [notation-azure-kv](https://github.com/Azure/notation-azure-kv/blob/main/docs/nv2-sign-verify-aks.md) and are looking for help implementing a [hashicorp](https://github.com/notaryproject/roadmap/issues/54) plug-in, as well as any other plug-ins.
Please see the [draft extensibility spec](https://github.com/notaryproject/roadmap/issues/26) for

[2022-01-14 21:36] #145 closed

[2022-01-14 21:38] SteveLasker commented on #129
Thanks @nelson-wu. @shizhMSFT, what do you think?  Any PRs are welcome to fix

[2022-01-14 21:38] #104 closed

[2022-01-14 21:39] SteveLasker commented on #97
closing for focus as the config may be replaced with the policy work

[2022-01-14 21:39] #97 closed

[2022-01-14 21:47] SteveLasker opened #147 "Refactor to use oras-go"
Once [oras.go 2.0-alpha.1](https://github.com/oras-project/oras/milestone/4) is released, update to use oras-go for registry calls.
Also see [notation-go-lib - Refactor to use oras-go #25](https://github.com/notaryproject/notation-go-lib/issues/25)

[2022-01-14 21:48] bshaaban commented on #145
Thanks @SteveLasker for the reply and the links. I'll try to help when I can soon.

[2022-01-15 04:56] shizhMSFT commented on #129
The `expiry` value is parsed into `time.Duration` by the built-in method [time.ParseDuration()](https://pkg.go.dev/time#ParseDuration) and it does not support days.

[2022-01-25 20:17] garantir-km commented on #20
Hello, just checking back on this. Any update on when this feature will be implemented, or whether it has already been?

[2022-01-26 01:54] #72 closed

[2022-01-26 01:56] shizhMSFT commented on #71
Covered by #83 and #135.

[2022-01-26 01:56] #71 closed

[2022-01-31 20:30] rchincha opened #151 "support "attach"ing signatures generated by a separate crypto mechanism"
The use case is as follows:
1. Signing service - signs images (private keys protected)
2. Release service - releases/pushes signed images
3. Verification service - verifies images

There is strict separation between these roles

In this case, what cosign does is ideal [1].

References:
[1] https://github.com/sigstore/cosign/blob/main/EXAMPLES.md#sign-with-openssl-verify-with-cosign

[2022-02-01 20:08] rchincha commented on #151
Current model is,
1. Push an image
2. Discover/fetch image and sign
3. Push signature

In our model,
1. Get image signed
2. Push image
3. Push signature

[2022-02-01 20:39] gokarnm commented on #151
@rchincha , maybe I'm missing something here. In the cosign [example](https://github.com/sigstore/cosign/blob/main/EXAMPLES.md#sign-with-openssl-verify-with-cosign)

1. The image is present in a registry (already pushed)
2. cosign generates a payload to be signed from the image in registry
3. Sign the payload with openssl
4. Push the signature to registry using cosign

This seems similar to the se

[2022-02-01 20:47] rchincha commented on #151
3. Sign the payload with openssl

^ for us really an OPAQUE_FUNC(payload.json) -> payload.sig

So, can notation now combine payload.sig + payload.json (image manifest) and push to the registry in one or more steps.

[2022-02-01 20:55] gokarnm commented on #151
Got it. Notation will provide an [extensibility mechanism](https://github.com/notaryproject/notaryproject/pull/124) to plugin into existing crypto mechanisms. Users and vendors can implement plugins to support integration with their own crypto systems. E.g. One can implement an OpenSSL plugin for Notation that will allow you to sign and push once you have installed and configured the plugin.

Prel

[2022-02-01 21:21] rchincha commented on #151
Not quite. Would more like the following.

oras/notation: get image bits for $IMAGE to be signed (say the manifest) -> <sig>
...
notation push $IMAGE --signature <sig>
^ this still does the artifact push.

Of course, notation can mandate some secure well-known signature schemes such as rsa2k-sha256 etc.

[2022-02-02 17:47] rchincha commented on #151
In agreement with overall problem statement.

About the implementation, just note that the pipeline stage wherever images are signed and signatures produced may not want to use notation directly. That said, in your example scenario, that "external executable" could just make a remote API call and get the signature and put it in a place notation can then proceed to pick up and package. Would leave

[2022-02-02 18:36] gokarnm commented on #151
Glad to be on the same page! We have a [PR](https://github.com/notaryproject/notaryproject/pull/124/files) for the contract the external executable needs to follow. Here are details about the [installation and protocol](https://github.com/notaryproject/notaryproject/pull/124/files#diff-3ad0d4bca93e75a8cdf8d94a4173d43d5d896320d00c52622244376c4779dab6R24) used by plugins, and here is a contract for

[2022-02-04 19:50] gokarnm commented on #151
The plugin protocol uses standard streams, Notation will call plugin executable, passes a json request using stdin, and expects a json response in stdout. Protocol and contracts are defined [here](https://github.com/notaryproject/notaryproject/pull/124/files#diff-3ad0d4bca93e75a8cdf8d94a4173d43d5d896320d00c52622244376c4779dab6R48).

[2022-02-09 13:48] #95 closed

[2022-02-09 13:48] #125 closed

[2022-02-09 13:48] #147 closed

[2022-03-16 23:49] SteveLasker opened #154 "Update annotations to use io.cncf.notary"
See https://github.com/notaryproject/notaryproject/pull/142

[2022-03-17 18:23] paulhowardarm commented on #20
You may wish to consider the CNCF [Parsec](https://github.com/parallaxsecond/parsec) project for this use case. Parsec has a Go client library, and it's designed to be simpler to consume than PKCS11. Parsec comes with a microservice that can connect to hardware tokens. It supports PKCS11 tokens, but also has pluggable back-ends that can interoperate natively with other systems like TPMs and secure

[2022-03-22 20:36] sozercan opened #157 "add support for binary-encoded x509 certs"
`notation verify` only supports validating with ASCII-encoded x509 certs (PEM)

Today, you can convert a binary encoded DER to PEM and verify using PEMs:
`openssl x509 -in mycert.crt -inform DER -out mycert.pem`

However, users shouldn't need to do this conversion manually and notation should add support for binary-encoded x509 certs

[2022-04-19 01:39] gokarnm opened #161 "Notation design goals"
### Discussed in https://github.com/notaryproject/notation/discussions/160

- [x] create new repo
- [x] rename repo

<div type='discussions-op-text'>

<sup>Originally posted by **gokarnm** April 18, 2022</sup>
# Notation and notation-go-lib design goals

### Goals

* An integrator should be able to reuse most of the implementation of Notary v2 specs from the lib, without being required to use the

[2022-04-19 17:24] sajayantony commented on #161
LGTM!

[2022-04-21 21:00] SteveLasker commented on #119
@shizhMSFT will you be able to integrate this into RC1?
Instead of having to set `NOTATION_USERNAME` and `NOTATION_PASSWORD`, we can pickup the docker cred store.

[2022-04-22 00:46] shizhMSFT commented on #119
This functionality is currently not present in `oras-go`. Therefore, I would deter it to post-RC1.

[2022-04-22 00:50] shizhMSFT commented on #119
Login functionalities are currently not present in `oras-go`. Let me estimate if it fits the RC1 plan.

[2022-04-22 20:02] SteveLasker opened #162 "Update notation plug-in support to the updated plug-in spec"
The [feat-kv-extensibility](https://github.com/notaryproject/notation/tree/feat-kv-extensibility) branch was created to validate an early version of the plug-in spec.
Now that the [plug-in spec](https://github.com/notaryproject/notaryproject/blob/main/specs/plugin-extensibility.md), is merged, we need to:

- [x] Take the content from [feat-kv-extensibility](https://github.com/notaryproject/notatio

[2022-04-22 20:43] SteveLasker opened #163 "Add COSE support"
A [prototype of notation cose support](https://github.com/microsoft/notation-cose) has been completed.

This tracks:

- [x] Complete remote signing support: [veraison/go-cose #9](https://github.com/veraison/go-cose/issues/9)
- [ ] Notary Spec support of COSE [#48](https://github.com/notaryproject/notaryproject/pull/148)
- [x] Add support for COSE, through the [veraison/go-cose](https://github.com/

[2022-04-23 05:34] shizhMSFT commented on #163
The COSE support should be through [notation-core-go](https://github.com/notaryproject/notation-core-go), where `notation-core-go` implements COSE support through the [veraison/go-cose](https://github.com/veraison/go-cose) project.

[2022-04-25 16:57] SteveLasker commented on #161
Complete

[2022-04-25 16:57] #161 closed

[2022-04-26 14:53] gokarnm opened #167 "Spec : Notation directory structure"
Spec for config location and dir structure. Should specify the directory structure for notation, paths for trust store, signing keys config, trust policy config, and plugins.

[2022-05-03 22:32] SteveLasker commented on #157
Tagging @qmuntal to see if you can pick this up. Our favorite issue hunter...

[2022-05-04 06:44] gokarnm commented on #167
Any feedback on this directory structure.

* We should rename `config.json` which previously contained signing keys and verification certificates, to `signingKeys.json` as it only contains signing keys. Verification now uses trust store and `trustPolicy.json`
* Plugin install location should be relative to notation install location, instead of using a sub dir under `$XDG_CONFIG_HOME/notation`.
[co

[2022-05-04 23:06] SteveLasker commented on #167
:eyes:

[2022-05-05 02:47] shizhMSFT commented on #167
`$NOTATION_INSTALL_DIR` is a vague location. On Unix/Linux, `notation` might be installed to `/usr/local/bin`. It might not make sense to have a folder called `/usr/local/bin/plugins`.

[2022-05-05 03:17] gokarnm commented on #167
That makes sense for linux in terms of notation is a single binary file at the moment. For Windows it would likely be *Program files/Notation* or similar? Any alternates you can propose @shizhMSFT , the XDG_CONFIG_HOME location seemed odd to me install plugin binary and any additional dependencies.

We can keep the location relative to notation binary and fully qualify the folder name, something l

[2022-05-07 00:15] SteveLasker opened #172 "Extract the key for policy configuration"
Notary v2 does not support Trust On First Use (TOFU), and only trusts artifacts that have been configured with trusted keys, which means users need a way to find the public key to place within their trust store.

## Scenario:

A user found a signed image in a registry they wish to use.
How do they find and download the public key to configure their trust policy?

## Proposal

A proposed API: `nota

[2022-05-12 15:35] iamsamirzon commented on #172
So is the proposal to keep the public key in the repository/registry? But how does the consumer of the image know which is the original repository where the image publisher has kept the public key? I ask this because an image  ( along with its signature) can move from registry tor registry, and the final registry may not be the one where the image was originally signed

[2022-05-12 15:50] priteshbandi commented on #172
Isn't this proposal a variation of TOFU, consumer decides trust based on some property configured in the artifact.
Also, I have a similar question as that of Samir's How will a consumer knows that the key inside the repository/registry belongs to a specific publisher?

[2022-05-12 17:07] SteveLasker commented on #172
It's been a discussion, but I think that kinda defeats the two-key/2fa effort, and don't believe this is the right security model.

Yup, this is core to the problem.

Also, I have a similar question as that of Samir's How will a consumer knows that the key inside the repository/registry belongs to a specific publisher?

If we step back and have a client that has zero trust of any certs, where do t

[2022-05-12 22:54] toddysm commented on #172
Usability is important here. Finding the signing keys has been user-unfriendly experience for a long time (PGP is a good example). Imagine every time you go to a website, and it tells you: "you need to find the public certificate to decrypt my traffic and to paste it here and then we can exchange traffic" but it doesn't tell you where this cert is. From experience point of view, we should target s

[2022-05-13 17:11] SteveLasker commented on #162
I've taken the following branches and validated remote signing works with azure keyvault

- [qmuntal/notation at feat-plugin](https://github.com/qmuntal/notation/tree/feat-plugin)
[code]
- [qmuntal/notation-azure-kv at plugins](https://github.com/qmuntal/notation-azure-kv/tree/plugins)
[code]

Then:
[code]

[2022-05-13 19:09] ianjmcm commented on #172
I have a similar perspective with regards to discoverability of the public key to provide the consuming party choice to trust. Platform providers historically provide a trust list that is the basis of all that should be trusted on their platform, and this is great for the everyday layman user and a great baseline for folks that are more advanced (such as enterprises). Commonly I see in the Windows

[2022-05-13 22:48] gokarnm commented on #162
This looks great! I've added a comment about `cert add` not being available in RC1 release [here](https://github.com/notaryproject/notation/pull/171#discussion_r872879982), so some of the steps will need updates for RC1.

[2022-05-16 20:27] dtzar commented on #162
To try clarify order of PR merge operations - I think it should go:
1. https://github.com/notaryproject/notation-go/pull/42
These two could go in either order:
2. https://github.com/notaryproject/notation/pull/168
2. https://github.com/notaryproject/notation/pull/176
All the above have to be merged for this one
3. https://github.com/Azure/notation-azure-kv/pull/18

[2022-05-17 06:23] SteveLasker commented on #172
I've added [Balancing Security and Usability](https://github.com/notaryproject/notaryproject/discussions/159) for reference

[2022-05-17 06:24] SteveLasker commented on #167
I've added [Balancing Security and Usability](https://github.com/notaryproject/notaryproject/discussions/159) for reference

[2022-05-19 20:21] gokarnm commented on #119
@shizhMSFT were you able to look into #170, basic auth with `notation sign $IMAGE -u <USERNAME> -p <PASSWORD>` seems to be broken, will doing a new release with ORAS integration changes fix this issue?

[2022-05-20 07:32] shizhMSFT commented on #119
Yes, a new release of `notation` should fix it.

[2022-05-20 14:52] gokarnm commented on #119
Just clarifying, a new release of `notation` alpha, without any code changes should fix this issue? Some ORAS integration work was done in Jan (#150).

[2022-05-25 21:12] iamsamirzon commented on #88
https://github.com/notaryproject/notation/pull/171

[2022-05-26 16:09] iamsamirzon opened #182 "Release a new version of Notation Client"
Since notation v0.7.1-alpha.1, we found many bugs and fixed them in the main branch.

It is the time to release a patched release <TBD Version>

https://github.com/notaryproject/notation/issues/119
There are lot of other updates as well.

- [x] Decide on main commit for a release [a80418b](https://github.com/notaryproject/notation/commit/a80418b5b542a470227427f172128dae112b28a4)
- [x]  Cut branch

[2022-05-26 18:16] qmuntal opened #183 "Command flags after arguments are discarded without warning"
Several folks and I have been hit by this issue:

- `notation sign --key=$KEY_NAME $IMAGE ` works
- `notation sign $IMAGE --key=$KEY_NAME` does not works and errors out with `signing key not found`.

The same problem applies to any non-required flag which is used together with an argument, i.e. `-p/-u`.

Using flags after arguments seems not to be supported by `urfave/cli`, see https://github.com/

[2022-05-26 23:27] dtzar commented on #182
I propose v0.9.0-alpha.1 as the version to match the version for notation-go https://github.com/notaryproject/notation-go/issues/48

[2022-05-26 23:29] dtzar commented on #182
Remaining PRs which are pretty much ready to go I think we should merge before cut:

- [ ] #181
- [ ] #180
- [ ] #179
- [ ] #178
- [ ] #177

[2022-05-27 03:34] SteveLasker commented on #183
+1. I realize the positional parameter shouldn’t have named parameters after.
I like the idea of an error, not even a warning.

[2022-05-27 06:25] qmuntal commented on #162
@SteveLasker can we close this issue? All work is done.

[2022-06-01 00:17] SteveLasker commented on #182
- Holding on #180, as we don't want to break the automated CI, and we're not quite ready to merge https://github.com/notaryproject/notation-core-go/pull/3.

[2022-06-01 00:26] SteveLasker commented on #182
@dtzar, would you take the honors to update the readme?

[2022-06-01 00:48] dtzar commented on #182
Done. https://github.com/notaryproject/notation/pull/187

[2022-06-01 12:07] FeynmanZhou opened #190 "The download URL of v0.9.0-alpha.1 is incorrect"
The download command is incorrect in README.

[code]

It should be:

[code]

[2022-06-01 16:15] #190 closed

[2022-06-01 16:34] #182 closed

[2022-06-01 16:37] #162 closed

[2022-06-04 01:10] dtzar opened #191 "Plugin config directory varies based on OS and should be clearer with docs"
the [os.UserConfigDir()](https://github.com/notaryproject/notation/blob/c61102cdb414a9aa55980bd113496abef3fcf784/pkg/config/path.go#L59) varies and therefore isn't the same based on OS.

i.e. on Ubuntu `~/.config/notation/plugins/azure-kv` works fine.
on a mac it is `~/Library/Application Support/notation/plugins`

[2022-06-08 16:20] dtzar opened #193 "Create plugin add to place plugin in proper directory"
Currently `notation plugin` only officially supports the `list` command.  It is confusing, error prone, and time consuming for users to have to go lookup what the proper directory is for plugins.  Suggestion is to add support for `notation plugin add <name> <path-to-local-plugin-file>` which automatically creates the proper directory and adds the plugin file there.

[2022-06-08 17:00] sajayantony commented on #193
This might be more challenging for a multi-file plug-in that might be written in Java or .net if the expectation is to copy the plug-in over.

[2022-06-08 19:03] dtzar commented on #193
Expectation would be to copy the file over.  It was my understanding that a plugin must be a single executable file - at least that's what I was [reading in the code](https://github.com/notaryproject/notation-go/blob/d75cdbdd5e8b99d38e8d6ef80b5b3b2ec96ad6b5/plugin/manager/manager.go#L142).

[2022-06-08 21:41] sajayantony commented on #193
@gokarnm any inputs on this?

[2022-06-08 21:55] gokarnm commented on #193
I agree that expecting users to copy over files to appropriate plugin location is error prone and bad CX. This is not prioritized for RC1 by should be by GA release.
The plugin itself can be a set of files, containing the executable and any dependencies, and is expected to be placed in a sub directory with matching name e.g `~/notation/plugins/com.example.nv2plugin/notation-com.example.nv2plugin`.

[2022-06-08 23:42] dtzar opened #194 "Notation sign/verify Tag to Digest translation"
CLI implementation for the tag to digest translation.

[2022-06-09 15:46] FeynmanZhou opened #196 "notation auth to CNCF ORAS registry"

[2022-06-09 15:48] #196 closed

[2022-06-10 09:45] FeynmanZhou opened #197 "Add unit tests and CodeQL scanning in GitHub CI/CD"
In order to ensure the high quality of project delivery, I propose to improve the automated testing process for Notary v2. Currently, we need to add some basic e2e tests, unit tests, and integration tests for [notation](https://github.com/notaryproject/notation), [notation-go](https://github.com/notaryproject/notation-go), and [notation-core-go.](https://github.com/notaryproject/notation-core-go)

[2022-06-10 14:20] dtzar commented on #197
I would like to scope this item to just the E2E testing for notation cli - this will inherently test at least parts of the API "pseudo integration".
notation-go already has unit tests.
notation-core-go I added https://github.com/notaryproject/notation-core-go/issues/6
Full integration tests should be broken out in a separate work item, but it isn't priority for RC1.

[2022-06-10 15:45] FeynmanZhou commented on #197
Agree, we could iterate it in the next release.

[2022-06-14 20:14] SteveLasker opened #202 "notation plugin add to abstract different platform config directories"
The plugin directory varies depending upon the operating system being used.  [notation config article](https://github.com/notaryproject/notation/blob/main/specs/notation-config.md).

This adds complexity to users attempting to configure a plugin. To simplify the process, `notation plugin add` should be revived to place the plugin in the appropriate directory, based on the platform.

[2022-06-14 21:26] SteveLasker commented on #202
Resolving as a dupe of #193

[2022-06-14 21:26] #202 closed

[2022-06-14 21:27] SteveLasker commented on #193
The multi-file thing is a good issue. Perhaps we can pass in a file, or a directory. This behavior did previously exist, but it was single-file based.
It's another good first issue for someone to pickup

[2022-06-15 04:02] gokarnm opened #203 "System vs User file/directory precedence"
The directory structure [spec](https://github.com/notaryproject/notation/pull/175) defines system and user level directory paths. When both paths are present, it may be required to give precedence to system or user level based on specific scenarios.
- User level setting in `config.json` and `signingkeys.json` may take precedence over system level settings in development scenarios, or an environmen

[2022-06-15 04:34] #167 closed

[2022-06-16 16:22] iamsamirzon commented on #203
@gokarnm  thinks we can start directory spec implementation while working in parallel to close this. This is not a blocker to start.

[2022-06-17 00:18] gokarnm commented on #203
Here is a proposal for how to address this.

1. Only in the system level `config.json` we provide a new setting `configurationBehavior` with supported values  `user`/`system` which allows a system admin role to setup preferred configuration priority, which cannot be overriden by a user role. This setting applies to all files/directories (config.json, signingkeys.json, plugin dir, trustpolicy.json,

[2022-06-17 18:05] SteveLasker opened #204 "Add installers for notation"
As we hit RC1, we should queue up the normal installers, such as apt-get, winget, etc.

[2022-06-21 03:35] gokarnm opened #206 "Define local credential experience for Registry Authentication"
Issue to track registry authentication experience in the absence of docker compatible credential provider in #192 . The proposed storage of unencrypted registry credential on local file system allows an attacker to potentially get read/write access to the registry.

Other options to consider, which arguably do not provide better security but gives the responsibility of securing the credentials to

[2022-06-21 06:21] gokarnm commented on #206
cc: @iamsamirzon @FeynmanZhou for tracking against appropriate milestone.

[2022-06-28 00:32] iamsamirzon commented on #203
As per @gokarnm  , this is not a blocker to start implementation.

[2022-06-28 00:48] iamsamirzon commented on #206
Based on discussion in NV2 working group meeting on 6/27, the feedback is to go with the Docker client like experience. User login/password along with docker credential file is for RC-1

[2022-06-28 01:07] gokarnm commented on #206
Correction : User login/password along with docker credential provider support is for RC-1

[2022-06-28 07:02] FeynmanZhou opened #211 "notation auth to CNCF ORAS registry"
### Discussed in https://github.com/notaryproject/notation/discussions/170

<div type='discussions-op-text'>

<sup>Originally posted by **jimmyraywv** May  5, 2022</sup>
I am using the CNCF ORAS registry distribution in k8s. I have setup basic auth with `htpasswd`. The oras CLI can authenticate with the registry using `-u ... -p ...` flags. However, the notation `0.7.1-alpha.1` CLI fails auth with

[2022-06-29 01:14] dtzar commented on #203
Related to #175

[2022-06-29 01:19] dtzar commented on #91
[Spec ](https://github.com/notaryproject/notation/pull/171/files#diff-4f0565caf9b5f059f3b256722911a83386beb3d5c0dc75b30b6fc91d451e551cR51) needs to be finalized to start on this.

[2022-06-29 01:21] dtzar commented on #203
@junjie

[2022-06-29 23:46] dtzar commented on #191
Should be likely updated here: https://github.com/notaryproject/notation/blob/main/specs/notation-config.md

[2022-06-30 00:22] yizha1 opened #213 "CLI spec for notation inspect"
**Summary**

CLI spec for notation inspect

**Intended Outcome**
CLI spec is defined for `notation inspect` command and related documents are updated accordingly

**Additional context**

[2022-06-30 00:28] dtzar opened #214 "notation CLI"

[2022-06-30 05:32] yizha1 opened #215 "Implementing notation sign command"
**Summary**

Implementing sign command according to the spec #88 and #91

**Intended Outcome**
`notation sign` command works as defined in the spec

**Additional context**

[2022-06-30 05:37] yizha1 opened #216 "Implementing verify command"
**Summary**

Implementing verify command according to the spec #88

**Intended Outcome**
`notation verify` command works as defined in the spec

**Additional context**

[2022-06-30 05:42] yizha1 opened #217 "Implementing Notation directory structure"
**Summary**

Implementing Notation directory structure according to the spec #167

**Intended Outcome**

Notation directory structure works as defined by the spec

**Additional context**

[2022-06-30 07:33] shizhMSFT commented on #119
@binbin-li Could you ack this item as you are working on this?

[2022-06-30 07:36] binbin-li commented on #119
acked

[2022-06-30 12:58] yizha1 opened #219 "Implementing inspect command"
Summary

Implementing `notation inspect` command according to the spec #213

Intended Outcome
`notation inspect` command works as defined in the spec

Additional context

[2022-07-01 21:40] #88 closed

[2022-07-02 13:41] JeyJeyGao commented on #203
I will add a comment to the related code to mention that the implementation may be changed later.

[2022-07-05 03:35] patrickzheng200 commented on #157
Taking a look.

[2022-07-05 03:41] shizhMSFT commented on #183
Let's move to `github.com/spf13/cobra`.

[2022-07-05 03:46] chloeyin commented on #183
I will take a look at it.

[2022-07-05 03:47] shizhMSFT commented on #194
We need security analysis first.

[2022-07-05 17:40] dtzar commented on #183
Yes, this would be great! It would also help with the user experience because of the autogenerated help and man pages.

[2022-07-05 22:51] SteveLasker opened #220 "Clarify LibEx directory on Windows"
The [directory structure spec](https://github.com/notaryproject/notation/blob/main/specs/directory.md#system-level) calls out LibEx files to be placed in the root of `%ProgramFiles%`.
Windows uses nested folders to isolate binaries and config specific to each executable. This includes configuration as well.

This spec seems to call ou BIN is under a subfolder, but LIBEXEC and CONFIG are not.

| Di

[2022-07-05 23:03] SteveLasker commented on #203
Thanks for capturing this @gokarnm
[Balancing usability and security](https://github.com/notaryproject/notaryproject/discussions/159), this is one of those places where I'd suggest we need to lean a bit more to the security side, with a "secure by default" posture. If we leave the default to be user overrides, then we must assume most deployments will allow users to change the behavior, including

[2022-07-05 23:06] SteveLasker commented on #203
Who owns the action item to update the [Directory Structure Specification](https://github.com/notaryproject/notation/blob/main/specs/directory.md)? Is this assigned to @shizhMSFT

[2022-07-05 23:39] SteveLasker opened #221 "Sort notation commands"
Sort the notation commands for ease of editing

[2022-07-05 23:46] #221 closed

[2022-07-05 23:48] dtzar commented on #216
We need the spec for verify.  [Relevant sign and verify workflow document](https://github.com/notaryproject/notaryproject/blob/main/signing-and-verification-workflow.md).

[2022-07-06 00:48] SteveLasker opened #224 "Document standard CLI help format"
The CLI has a few options for how to represent help contents.
This issue tracks a proposal for that format to include:

- [ ] Include format for positional arguments
- [ ] Include format for global arguments
- [ ] Include format for examples
- [ ] Formatting, including the command and whether `:` is specified.

See #223 for an example for why a formatting template is needed across multiple PRs

[2022-07-06 02:10] shizhMSFT commented on #203
@SteveLasker This is a discussion. We don't have a consensus yet. My opinion is that user file / directory should take over the system ones.

[2022-07-06 17:29] dtzar commented on #203
I'm assuming that the system-level directory is a security mechanism for certain things (like the trust store).  Therefore, if the user directory overrides the system, wouldn't that be a security concern?

I can see a case for non-security implication changes it making sense to have the user directory override the system (i.e. configuration settings).

[2022-07-06 17:53] SteveLasker commented on #203
Thanks @shizhMSFT, @dtzar
David is capturing the heart of the issue. What is the proper "secure by default", starting point? Then, what could someone with admin privileges change, to enable a user to override, but only if configured.

For non-security related preferences, user overrides makes sense.

[2022-07-06 23:19] SteveLasker opened #225 "Update notation cert add/remove commands for RC1"
Need to decide what we'll do for RC1, and what we'll do post RC1 to help users easily add and remove certificates for verifications. The assumption is this would transition from the alpha1 config to the RC1 trust stores.

[2022-07-06 23:19] SteveLasker opened #226 "Update notation key add/remove commands for RC1"
Need to decide what we'll do for RC1, and what we'll do post RC1 to help users easily add and remove keys for signing. The assumption is this would transition from the alpha1 config to the RC1 trust stores.

[2022-07-06 23:21] SteveLasker opened #227 "Update notation sign command for RC1"
- [x] [Spec the CLI command](https://github.com/notaryproject/notation/issues/91)
- [ ] [Implement the new sign command](https://github.com/notaryproject/notation/issues/215)

[2022-07-06 23:21] SteveLasker opened #228 "Update notation verify command for RC1"
Implement the new verify command to use the trust and policy store

- [x] https://github.com/notaryproject/notation/issues/216
- [ ] notation verify spec

[2022-07-06 23:22] SteveLasker opened #229 "Update notation list command for RC1"
- [ ] Spec the CLI command
- [ ] Implement the new list command, deciding the appropriate detailed output

[2022-07-06 23:24] SteveLasker opened #230 "Update notation plugin command for RC1"
- [ ] Spec the CLI command
- [ ] Implement the new plugin command

NOTE: This may be done as part of the updated plugin work.
Related to the following other open issues

- [x] https://github.com/notaryproject/notation/issues/193
- [ ] ~~https://github.com/notaryproject/notaryproject/issues/163~~

[2022-07-06 23:24] SteveLasker opened #231 "Update notation cache commands for RC1"
- [ ] Spec the CLI command
- [ ] Implement the new cache command

[2022-07-06 23:26] SteveLasker opened #232 "Update notation push command"
- [ ] Spec the CLI command
- [ ] Implement the new push command

[2022-07-06 23:26] SteveLasker opened #233 "Update notation pull command"
- [ ] Spec the CLI command
- [ ] Implement the new pull command

[2022-07-11 17:45] dtzar commented on #93
@priteshbandi - taking a quick look, it seems a number of these are resolved.  Can you please update your checklist?
Remaining items which don't have an issue we can create and put into RC-1.

[2022-07-11 17:47] dtzar commented on #89
@priteshbandi - what's the status of this being implemented?

[2022-07-11 18:16] dtzar commented on #154
This is completed in the pr mentioned above, issue just didn't get closed.

[2022-07-11 18:16] #154 closed

[2022-07-11 21:38] rchincha commented on #151
@dtzar, @gokarnm sounds like a `openssl` wrapper is needed to comply wit the plugin contract. If you were to write one (or we do), where would that land? Since it is likely to be the most generic one, can it be maintained in `notation` project itself?

[2022-07-11 21:43] dtzar commented on #151
related to https://github.com/notaryproject/notation-go/issues/14

[2022-07-11 22:03] rchincha commented on #151
@dtzar is there test code or a working implementation which demonstrates this signature generation offload mode?

[2022-07-11 22:30] dtzar opened #237 "[User Story] - notation sign - Remote sign remote artifacts"
As a signer, I want to remote sign remote artifacts stored in registries, so that the integrity of the artifacts is ensured as artifacts are pulled and promoted across environments.

Note: signing with local key, but only for remote artifacts.  Not signing local artifacts.

[2022-07-11 22:44] dtzar commented on #151
No, this is currently planned for the future.
https://github.com/notaryproject/roadmap/issues/42

[2022-07-11 22:52] dtzar opened #238 "[User Story] - notation inspect - signatures"
As a user, I want to inspect signatures.

Related item: #172

[2022-07-11 22:52] rchincha commented on #151
If all action items are tracked, not sure how much more useful this issue can be. Pls close.

[2022-07-11 22:53] #151 closed

[2022-07-11 22:58] dtzar opened #239 "[User Story] - notation verify - remote artifacts"
As a verifier, I want to verify remote artifact integrity with remote signatures using my local trust policy and store.

Note: verify with local key, verify remote artifacts.  Verify local artifacts out of scope RC-1.

Implementation items to complete story:
- [ ] https://github.com/notaryproject/notation/issues/228
  - [ ] https://github.com/notaryproject/notation/issues/216

[2022-07-11 23:02] dtzar opened #240 "[User Story] - notation plugin extensibility for sign and verify"
As a signer, I want to use an extensible plugin to sign the artifacts
As a verifier, I want to use extensible plugin to verify signed artifacts

- [ ] https://github.com/notaryproject/notation/issues/230

[2022-07-11 23:06] dtzar opened #241 "[User Story] - notation plugin list"
As a user, I want to list the plugin(s) so that I can view the installed plugin(s)

Implementation items to track:

- [ ] https://github.com/notaryproject/notation/issues/230

[2022-07-11 23:09] dtzar opened #242 "[User Story] - notation key CRUD"
As a user, I want to add/update/list/delete keys

Implementation items to track:
- [x] https://github.com/notaryproject/notation/issues/226

[2022-07-11 23:13] dtzar opened #243 "[User Story] - notation cert CRUD"
As a user, I want to add/list/update/delete (CRUD) certificates.

Implementation items to complete story:

- [x] https://github.com/notaryproject/notation/issues/225
- [x] https://github.com/notaryproject/notaryproject/issues/144

[2022-07-11 23:18] dtzar opened #244 "[User Story] - notation trust policy and store authentication"
As a user, I want to configure trust policy and trust store so that I can authenticate signed artifacts

Note: CLI based experience is out of scope, the trust store / policy itself will be there and configurable in filesystem.  Need to manually add what you trust.
Desire – make usability reasonable in RC1 even if it is editing a configuration file.

[2022-07-11 23:20] dtzar opened #245 "[User Story] - notation push signatures"
As a user, I want to push signatures into remote registry, using tag or digest references

Note: decision by group to push past RC-1, since notation sign does push automatically, and this really becomes more relevant once signing local artifacts is enabled.

[2022-07-11 23:22] dtzar opened #246 "[User Story] - notation pull signatures"
As a user, I want to pull signatures from remote registry, using tag or digest references

Note: decision by group to push past RC-1, since notation verify does pull automatically, and this really becomes more relevant once verifying local artifacts is enabled.

[2022-07-11 23:33] dtzar commented on #91
Per some feedback, I'd like to see something implemented such as a `--dry-run` switch on `notation sign` which returns back information about what is going to be signed.  This way someone can make sure they are going to be signing the right artifact.

[2022-07-12 02:13] hallyn commented on #151
Yeah issue #42 seems to cover it, thanks.

[2022-07-12 22:24] priteshbandi opened #247 "notation build failing"
Looks like [notation-go/pull/64](https://github.com/notaryproject/notation-go/pull/64) commit broke notation builds. I’m getting following error:
[code]
 Verified that notation-go does not contain package pkg/registry (edited)

### Repo steps
1. Checkout latest version of [notation](https://github.com/notaryproject/notation) code.
2. Run ` go clean -modcache && go mod tidy`

[2022-07-13 02:35] yizha1 commented on #243
How about command `notation cert generate-test`, which generates a test RSA key and a corresponding self-signed certificate? With this command, user can easily try notation sign & verify for testing purpose, see example showed in this document https://github.com/notaryproject/notation/blob/main/docs/hello-signing.md

[2022-07-13 02:45] binbin-li commented on #247
I'll bump up the notation-go version and make the according change.

[2022-07-13 22:38] dtzar commented on #211
This was fixed in https://github.com/oras-project/oras-go/releases/tag/v2.0.0-alpha

[2022-07-13 22:41] dtzar commented on #211
The [package listed we're currently using ](oras.land/oras-go/v2 v2.0.0-20220620164807-8b2a54608a94) is behind where the fix is at.  Recommend someone upgrades to the latest release https://github.com/oras-project/oras-go/releases/tag/v2.0.0-rc.1 and then we can close this issue out.

[2022-07-14 02:28] binbin-li commented on #247
Closing it as it's resolved by #248

[2022-07-14 03:02] iamsamirzon commented on #242
@dtzar  - Could you elaborate if you are looking to  do CRUD operation on keys stored locally or remotely? If remotely, are we just doing CRUD on the remote key identities/aliases ?

[2022-07-14 19:01] #247 closed

[2022-07-15 20:39] iamsamirzon commented on #63
There are two reasons to defer this after the first release
1. We have another way of filtering with certificate fingerprints.
2. The Gatekeeper timeout is no longer a restriction of finishing verification in < 3 seconds.

[2022-07-15 21:33] iamsamirzon commented on #229
Can the "List" and "Inspect" commands be combined into one?

[2022-07-15 21:35] iamsamirzon commented on #242
This is already implemented for Plugins to specify the signing keys in signingkeys.json

[2022-07-15 21:40] iamsamirzon commented on #225
Can we defer the CLI experience for configuring Trust store and Trust policy in a subsequent release. for the first release users can add /remove certificates in the director structure itself.

[2022-07-15 21:42] iamsamirzon commented on #241
This is already supported, for the signature plugin and expected to work for verification plugin. Any bugs can be fixed separately.

[2022-07-18 16:39] dtzar commented on #241
I know this already works today and we use this for our notation azure key vault plugin.

The user story is here to ensure:
1. There is nothing missing/needed for what we're deeming RC-1
2. That we're all on the same page that we want to support this for RC-1

[2022-07-18 18:17] dtzar commented on #242
We'd like to support for RC-1 what is covered in [this article](https://docs.microsoft.com/en-us/azure/container-registry/container-registry-tutorial-sign-build-push).  Effectively - yes this is a remote key reference via plugin.  Notation + plugin today already supports CRUD, but adding here to make sure we're all on the same page for RC-1 support and also in case there is anything else we might

[2022-07-19 13:02] yizha1 opened #252 "[User Story] - notation generates key and corresponding certificate for testing"
**Summary**

As a tester, I want to generate key and corresponding certificate to test notation signing and verifying features

**Intended Outcome**

- An RSA key and corresponding self-signed certificate can be generated in an easy way.
- Testers can sign OCI artifacts using the key with `notation sign` command
- Testers can verify signed OCI artifacts against the self-signed certificate with `no

[2022-07-19 15:21] SteveLasker commented on #252
Just a note this work user story is important for our getting started scenarios.
Adopters need a quick and easy means to get started, without any dependency on a cloud provider.

[2022-07-19 18:56] #183 closed

[2022-07-19 19:06] dtzar opened #254 "Remove docker-generate and docker-notation code"
### Discussed in https://github.com/notaryproject/notation/discussions/251

<div type='discussions-op-text'>

<sup>Originally posted by **dtzar** July 18, 2022</sup>
Are you using or plan to use docker-generate or docker-notation in the repository?

Should this be converted to a plugin in a different repository?

[This was brought up in a PR ](https://github.com/notaryproject/notation/pull/250#iss

[2022-07-19 21:16] dtzar commented on #238
If the purpose of this command is truly public key discovery, then perhaps `notation inspect` is not the best verb to use.
One idea:
`notation cert download <base registry or registry/image:sha>`

[2022-07-20 06:42] JeyJeyGao commented on #252
I'm working on this work item. The generated keys & certs will be stored in {CONFIG}/notation/localkeys/.

But the {CONFIG}/notation/signingkeys.json doesn't exist now, signing key information is tracked in config.json, there will be a breaking change to split the config.json file. Is is another work item? Do we need to finish it in RC1, or just keep the current config.json structure? The config e

[2022-07-21 16:27] dtzar commented on #197
All of these are merged, so closing out this issue.

[2022-07-21 16:27] #197 closed

[2022-07-21 16:30] dtzar commented on #211
@binbin-li since you just updated the login info and I see you listed a TODO on this, assigning to you.  Hopefully quick to complete.

[2022-07-21 23:12] dtzar commented on #119
Other than 2fa - it seems this work is complete and we can close this item out?  @binbin-li @SteveLasker
IMO I don't think 2fa is important for now and should be tracked in a separate issue.

[2022-07-22 00:09] SteveLasker commented on #119
If someone has tried the experience, as opposed to reviewing PRs, I'm happy to close.
The 2fa was related to cloud provider specific login scenarios. For instance, you can use `az acr login` to set the docker credentials for registry operations.
I believe aws has a similar thing, but implemented through a docker plug-in.

I'm not suggesting `notation login` is vendor/cloud aware of specific 2fa, r

[2022-07-22 02:05] dtzar commented on #157
This is complete via the linked PR 235

[2022-07-22 02:30] binbin-li commented on #211
@dtzar looks like this issue is the same as https://github.com/notaryproject/notation/issues/183, and @chloeyin is fixing it with the PR: https://github.com/notaryproject/notation/pull/255

[2022-07-22 05:39] chloeyin opened #258 "notation verify will fail when fetching remote signatures"
Because notation will cache the signature on the host machine, pulling signatures from remote may not be well tested.
When pulling signatures from remote registry, `Error: get signature failure` will be returned.
### How to reproduce
I ran all steps on the same host(WSL).

1. Sign with your key and remove any cache.
[code]
2. Verify your signature. Since I have deleted any cache, notation will pul

[2022-07-22 06:26] patrickzheng200 commented on #258
I will create a PR to include this work around.

[2022-07-22 07:49] yizha1 commented on #172
As aligned in previous meeting, move this issue to RC-2 scope

[2022-07-22 23:24] dtzar commented on #244
https://github.com/notaryproject/roadmap/issues/38 was updated to reflect this user story, so closing this out now with Samir since it's duplicate.

[2022-07-22 23:24] #244 closed

[2022-07-23 01:41] dtzar commented on #128
We should get better error messages as a result of moving to cobra, but should evaluate the experience of error messages after the PR merges https://github.com/notaryproject/notation/pull/255

[2022-07-23 03:36] yizha1 opened #259 "notation sign doesn't work on main branch"
**Summary**
notation sign doesn't work on main branch

**Steps to reproduce issue**
- Build notation binary from main branch
- Follow the flow in https://github.com/notaryproject/notation/blob/main/docs/hello-signing.md
- Execute notation cert generate-test to create local keys and certs
- Execute notation sign --plain-http $IMAGE
- Execute notation sign $IMAGE

**Logs**

[code]

[code]

**Additio

[2022-07-23 10:11] FeynmanZhou commented on #259
I have the same issue as @yizha1 mentioned.

[code]

But it works with `notation 0.9.0-alpha.1`:
[code]

[2022-07-25 03:31] patrickzheng200 commented on #259
@yizha1 This error
```2022/07/22 17:05:20 certificate-chain is invalid, certificate chain must contain at least two certificates: a root and a leaf certificate```
occurred because of this [check](https://github.com/notaryproject/notation-core-go/blob/3dfa2915c8441b6debdd179dc34634acadde6353/x509/cert_validations.go#L29). Self-signed certificate from 'notation cert generate-test' no longer works. F

[2022-07-25 08:31] patrickzheng200 commented on #259
Taking a look

[2022-07-25 08:31] chloeyin commented on #259
`notation --plain-http sign $IMAGE` will work(But still got an error).
For the `plain-http` flag, it is because this PR https://github.com/notaryproject/notation/pull/218 change the cli interface, which makes `--plain-http` a global flag. So for now, adding `--plain-http` just after `notation` will work.
This PR https://github.com/notaryproject/notation/pull/223 makes the flag global.

[2022-07-25 08:35] shizhMSFT commented on #252
@JeyJeyGao Yes, the `config.json` should be split into `config.json` and `signingkeys.json`. It will be another work item and is in the scope of RC.1 or before.

[2022-07-25 13:23] shizhMSFT commented on #217
Resolved by https://github.com/notaryproject/notation-go/pull/73

[2022-07-25 13:36] shizhMSFT commented on #206
Elaboration on the above conclusion: Users should use credential store for credentials to registry authentication. If there is no credential store available, users should specify `--username`, `--password` parameters or environment variables to provide credential for each CLI command execution.

[2022-07-25 15:41] shizhMSFT commented on #206
The elaboration is just a rewording. Details have been discussed in the NV2 working group meeting on 6/27.

In other words, there is no support for credential file. Since there is no support, we don't need to implement it.

[2022-07-25 15:51] shizhMSFT commented on #206
Re-open with #262 for review.

[2022-07-25 18:40] dtzar commented on #206
@iamsamirzon - the PR that Shiwei has aligns with what's in the merged PR: https://github.com/notaryproject/notation/pull/218

Also - again I believe we really should close https://github.com/notaryproject/notation/issues/119

[2022-07-26 03:31] yizha1 commented on #259
@rgnote could you share your insights here?

[2022-07-26 05:33] patrickzheng200 commented on #259
@yizha1 While we are waiting for Rakesh, you could try my updated branch which solves your blocking on [hello-signing](https://github.com/notaryproject/notation/blob/main/docs/hello-signing.md). Thanks.

[2022-07-26 05:56] yizha1 commented on #259
Sure. I will try it today.

[2022-07-26 06:56] yizha1 commented on #259
Thanks @chloeyin , I tried just now, the flag works when I put it before the list command, which is `notation --plain-text list $IMAGE`. I think the root cause is as you mentioned, we can follow it on another PR for the fixing

[2022-07-26 07:02] yizha1 commented on #259
@patrickzheng200  I just tried notation built from your branch. It works.

[2022-07-26 07:58] junczhuMSFT opened #267 "Migrate to codecov.io"
We are currently use go test to generate coverage report and those reports are uploaded as GitHub artifacts. However, we don't have a method to compare coverage report from commit to commit, or even view the report easily.

I propose that we should migrate our coverage report generation to [codecov.io](https://about.codecov.io/) similar to https://github.com/veraison/go-cose/pull/84. By doing so,

[2022-07-26 09:12] yizha1 opened #268 "notation remote signing error"
**Summary**
notation remote signing error on main branch. Signing key and certs are stored in Azure KV.

**Steps to reproduce issue**

1. Build notation binary from main branch
2. Follow the flow here https://docs.microsoft.com/en-us/azure/container-registry/container-registry-tutorial-sign-build-push
3. Execute notation sign --key $KEY_NAME $IMAGE according to step 3 under https://docs.microsoft.

[2022-07-27 06:36] #119 closed

[2022-07-27 19:38] dtzar commented on #211
No @shizhMSFT this has not been resolved by 255.  Look at the go.mod file in main now, it still has a todo and has not been updated.

https://github.com/notaryproject/notation/blob/92807080abba772dc63f64b274b442708f5099c4/go.mod#L15

[2022-07-28 01:31] shizhMSFT commented on #211
@dtzar This issue is about UX (i.e. the positions of flags). It is not related to `oras-go` but CLI packages resolved by #255

[2022-07-28 01:31] #211 closed

[2022-07-28 01:32] shizhMSFT commented on #211
Removing the `dependency-oras-go` label to reduce confusion.

[2022-07-28 02:09] chloeyin commented on #268
I will take a look at it.

[2022-07-28 16:21] rgnote commented on #259
With the latest signing and verification implementation, we are expecting a signing certificate with a chain. Since `generate-test` is only generating a self-signed certificate without a chain, `sign` command is failing. We need to support self-signed certificates.

[2022-07-28 16:24] dtzar commented on #157
Realized now that this issue is not done.  The PR got closed without merging.

[2022-07-28 17:18] dtzar commented on #128
Let's also in this improvement make sure the CLIs exit with proper exit code (non zero for failures) https://github.com/urfave/cli/blob/master/docs/v2/manual.md#exit-code

[2022-07-28 17:32] #254 closed

[2022-07-28 20:42] iamsamirzon commented on #259
@rgnote  - Any comments on the proposed fix for this  issue via this PR - https://github.com/notaryproject/notation/pull/264

[2022-07-29 01:19] patrickzheng200 commented on #157
@dtzar FYI, the file related in PR [235](https://github.com/notaryproject/notation/pull/235/files) is no longer there (therefore, I closed that PR without merging). Instead, we are supporting verify with binary encoded DER [here](https://github.com/notaryproject/notation-core-go/blob/1d963fd57141fedb192a064867fb3114e43220cb/x509/cert.go#L24).

[2022-07-29 01:28] dtzar commented on #211
I see the oras-go dependency was updated in #269

[2022-07-29 01:39] dtzar opened #272 "Add Sign/Verify Unit tests"
Add unit tests for basic sign/verify workflow.  Copying from https://github.com/notaryproject/notation/issues/93

[2022-07-29 01:42] dtzar opened #273 "Export routines versus types"
Request by @priteshbandi in https://github.com/notaryproject/notation/issues/93

Instead of exporting types can we export routines so that underlying implementation can be changed without affecting callers?
https://github.com/notaryproject/notation/pull/83#discussion_r709484002

[2022-07-29 01:43] dtzar commented on #93
I migrated the top two issues.  @iamsamirzon once you migrate the bottom three open ones above, we can close this out.

[2022-07-29 06:23] patrickzheng200 commented on #268
A quick summary of this issue: The [notation-azure-kv](https://github.com/Azure/notation-azure-kv) plugin is calling a previous version of notation-go. Notation would create a GenerateSignatureRequest and send it to the notation-azure-kv plugin. Inside this request, there is a field called Hash, and the value is "SHA-256" (taking SHA256 as an example). However, notation-azure-kv expects "SHA_256",

[2022-07-30 12:37] yizha1 opened #275 "Implement notation CLI weekly dev build"
**Summary**
Implement notation CLI weekly dev build, which was discussed in https://github.com/notaryproject/notation/discussions/261

**Acceptance Criteria**

- Notation CLI dev build is triggered automatically every week.
- The build time should be configurable, by default it is 04:00 PM UTC every Sunday
- The build will include the latest commit that is present on the main branch of notation re

[2022-07-30 13:09] yizha1 commented on #252
One bug found here https://github.com/notaryproject/notation/issues/259, which broke this feature.

[2022-08-01 02:11] yizha1 commented on #275
@JeyJeyGao will you take this issue?

[2022-08-01 16:41] dtzar commented on #157
@patrickzheng200 - has this been tested/supported with the latest build of `notation verify`?

[2022-08-02 07:38] binbin-li opened #276 "Update Cli spec to reflect username/password options in commands besides login"
Besides `notation login`, we need `username/password` options in other commands as well since the cli doesn't come with `Credentials Store` configured.

The current cli spec shows only `login` command support `username/password` which needs to be updated accordingly.

[2022-08-03 00:37] dtzar commented on #239
Migrating this item to https://github.com/notaryproject/roadmap/issues/41 so closing it out.

[2022-08-03 00:37] #239 closed

[2022-08-03 01:51] JeyJeyGao commented on #275
I will take this issue.

[2022-08-03 02:14] #206 closed

[2022-08-03 02:37] patrickzheng200 commented on #157
@dtzar Yes, I did an end-to-end test on this: sign and push an image to ACR then remotely verify it using `notation verify` with a DER certificate. Both cache hit and cache miss scenarios are covered.

[2022-08-03 07:44] shizhMSFT opened #277 "Bump up golang to `1.19`"
[Go 1.19](https://go.dev/blog/go1.19) is released with [release notes](https://go.dev/doc/go1.19)!

It is time to bump up golang version to `1.19` by updating

- `go. mod`
- GitHub Actions

[2022-08-03 17:15] #157 closed

[2022-08-03 22:31] dtzar commented on #277
Do you want to have a matrix?  i.e. 1.18/1.19 or just go straight to 1.19 only?

IMO - we should be consistent with what we pick and upgrade them all at the same time.
notation-core-go for instance uses a [matrix of 1.17/1.18](https://github.com/notaryproject/notation-core-go/blob/6670fef9acec555915541f9a394b489c699de3b2/.github/workflows/reusable-build.yml#L11)

[2022-08-03 22:36] dtzar commented on #277
Related to https://github.com/notaryproject/notation-go/issues/99

[2022-08-04 02:15] #259 closed

[2022-08-04 09:03] yizha1 commented on #258
@chloeyin could you verify whether this issue has been fixed?

[2022-08-04 12:12] chloeyin commented on #258
It has been fixed.

[2022-08-04 12:12] #258 closed

[2022-08-04 15:25] iamsamirzon opened #279 "Remove hardcoded reference to "localhost""
Created from #93 to fix hardcoded references to "localhost" to also include 127.0.0.1. Refer one example here. https://github.com/notaryproject/notation/pull/83#discussion_r704681085  .

Desired Resolution
- Address all hardcoded references to "localhost" by doing  a search through all Notation repos.

[2022-08-04 15:29] iamsamirzon opened #280 "Whenever shelling out read both error and std streams for Notation client"
This issue is created to replace a finding in #93.  Refer example here . https://github.com/notaryproject/notation/pull/83#discussion_r705752817

Desired Resolution
1. Search through all code in Notation, Notation-go, Notation-go-core and redirect stderr to console.

[2022-08-04 15:34] iamsamirzon opened #281 "Don't overwrite files if file exists unless explicitly indicated by user"
This issue is created to replace a finding in #93. Refer example here . https://github.com/notaryproject/notation/pull/83#discussion_r705755110

Desired Resolution

Search through all code in Notation, Notation-go, Notation-go-core and before creating a new file, check for its existence before overwriting it. And unless specifically asked by the user don't overwrite it.

[2022-08-04 15:45] iamsamirzon commented on #93
@dtzar  - I migrated the other three issues reported in this catch all into separate issues and am closing this issue,
https://github.com/notaryproject/notation/issues/279
https://github.com/notaryproject/notation/issues/280
https://github.com/notaryproject/notation/issues/281

[2022-08-04 15:46] #93 closed

[2022-08-04 16:10] iamsamirzon commented on #252
@yizha1  - Please consider the changes going in this fix  to not break the "directory structure" based trust store and verification experience spec. Rakesh is working on https://github.com/notaryproject/notation-go/issues/95

[2022-08-04 16:51] iamsamirzon commented on #227
Closing this one out, because the roadmap issue is being tracked as the "user story". https://github.com/notaryproject/roadmap/issues/40

[2022-08-04 16:51] #227 closed

[2022-08-04 17:04] gokarnm commented on #268
Please check my comment on related [notation-core-go PR](https://github.com/notaryproject/notation-core-go/pull/20#issuecomment-1205529607). IMO we should update the spec in this case.

[2022-08-04 17:19] dtzar commented on #237
As mentioned on the notation call today.  As long as we know this works with new directory store with alpha 3 bits, then I'm good to close this as part of alpha-3.

[2022-08-05 01:57] #252 closed

[2022-08-05 10:16] FeynmanZhou commented on #276
Hi @binbin-li , I assume we need to add `username/password` options to the following commands, right?

- notation sign
- notation verify
- notation push
- notation pull
- notation list

From my perspective, if a user provides credentials for authenticated registry and logs into a registry via `notation login`, is it necessary to do authentication in the other commands above?

I think Notation shou

[2022-08-05 18:48] dtzar commented on #279
Doing a search on notation repo, there are only two references:
1. https://github.com/notaryproject/notation/blob/135621679e7781c78471ede28a2e419cd228fb68/cmd/notation/registry.go#L5
2. https://github.com/notaryproject/notation/blob/135621679e7781c78471ede28a2e419cd228fb68/pkg/configutil/docker_config_test.go#L13

2 - is in a test, so likely don't need to replace.

[2022-08-05 19:04] dtzar opened #283 "notation sign/verify to work with local storage"
Implement notation to work with signatures in the local storage/filesystem.

[2022-08-08 06:59] FeynmanZhou commented on #259
Hi team,

I tried it based on the build from the main branch today. But I got the following error:

[code]

Are suggestions on this issue?

[2022-08-08 08:02] FeynmanZhou opened #284 "Credentials store config is not set up when using notation sign"
Hi team,

I tried Notation CLI based on the build from the main branch today. But I got the following error:

[code]

Using `notation --plain-http sign $IMAGE` is also not worked for me.

Is it caused by the [directory structure updates](https://github.com/notaryproject/notation/pull/265)? Any suggestions on this issue?

[2022-08-08 08:03] FeynmanZhou commented on #284
cc @shizhMSFT @JeyJeyGao @binbin-li for help

[2022-08-08 09:40] JeyJeyGao commented on #284
I will work on this bug fix.

[2022-08-08 15:23] FeynmanZhou commented on #284
Thanks @JeyJeyGao for your quick support. Have you found the root cause for this issue?

[2022-08-09 00:41] dtzar commented on #268
Per the notation call today, we decided we are going to just keep this inconsistency in alpha.3 to not delay the release.  Shiwei's team already has this fixed by converting string constants to also help support COSE signing and will release a PR to convert the types sooner than later.

[2022-08-09 00:41] #268 closed

[2022-08-09 02:50] JeyJeyGao commented on #284
According to previous design, credentials store config must exist in notation config.json or docker config.json, but you may not need a credentials store config to sign image for  local registry. To fix the bug, we need to allow empty credentials store config for local reigistry.

[2022-08-09 05:15] binbin-li commented on #276
@FeynmanZhou from the previous discussions, users can use `username/password` in other commands even though logged in. And the user-typed `username/password` would have higher priority than that from first-time login command.

[2022-08-09 06:16] yizha1 opened #287 "Implement signing artifacts with COSE as signing envelope (repo: notation-core-go/notation-go)"

[2022-08-09 06:16] yizha1 opened #288 "Implement verification of signatures enclosed in COSE envelope (repo: notation-core-go/notation-go)"

[2022-08-09 06:16] yizha1 opened #289 "Update notation CLI spec to support COSE as signing envelope (repo: notation)"

[2022-08-09 06:16] yizha1 opened #290 "Implement notation CLI to support COSE as signing envelope (repo: notation)"

[2022-08-09 06:16] yizha1 opened #291 "Implement plugin signing artifacts with COSE as signing envelope (repo: notation-core-go/notation-go)"

[2022-08-09 06:17] yizha1 opened #292 "Implement plugin verification of signatures enclosed in COSE envelope (repo: notation-core-go/notation-go)"

[2022-08-09 21:14] #284 closed

[2022-08-10 22:40] iamsamirzon commented on #91
@dtzar  - Extending the above, @gokarnm  pointed out that we should have a similar debug capability for all CLI commands, that can be used for "diagnostic logging" to find problems and validate workflows. Do you think that is a separate user story, or should it be a requirement for all CLI command we implement.

[2022-08-10 22:54] iamsamirzon commented on #238
@dtzar  - I believe this is a duplicate of https://github.com/notaryproject/notation/issues/172

[2022-08-11 03:20] yizha1 opened #297 "Release a new version of Notation CLI"
It's time to release a new version for Notation, since lots of bugs and features are merged in main branch.

- [x] Merge remaining PR #294
- [x] Decide on main commit for a release
- [x] Decide on the `release version`
- [x] Cut branch named `release version` based on agreed upon main commit
- [x] Cut a tag named `release version`

@gokarnm @iamsamirzon @dtzar @SteveLasker @FeynmanZhou @shizhMSFT

[2022-08-11 10:15] FeynmanZhou commented on #276
Got you. The current implementation support specifying `username` & `password` for each command option, we can merge https://github.com/notaryproject/notation/pull/293 to make the spec consistent with implementation in alpha.3.

From an end user's perspective, I think we should recommend that use `notation login` with specifying `username` & `password`  and provide a doc to instruct users to confi

[2022-08-11 12:43] yizha1 commented on #91
Here is a summary. I suggest changing the list in the issue to task-list, and check the one which is resolved.

- Should we use a default key or need the user to explicitly specify the key

- Does signing automatically push signature to repo? Which repo?

- How does one filter out private signatures from being automatically pushed to public repos?

- Make params like --trust more intuitive.

[2022-08-11 15:55] iamsamirzon opened #300 "Add --debug option to Notation CLI Sign and Verify commands to help with troubleshooting and logging"
As a user, I want the Notation Sign and Verify commands to generate additional info why a given CLI command is failing and/or to create logs of the actions being performed by a command.

When the Notation CLI reports an error that a user can get more detail about the error by running the command again with the --debug option. With this option, the Notation CLI outputs details about every step it t

[2022-08-11 16:00] iamsamirzon commented on #128
@dtzar  - I created a new issue related to helping  users deal with CLI errors. Refer https://github.com/notaryproject/notation/issues/300

[2022-08-13 02:00] yizha1 opened #303 "UX: Improve the output for a successful signing"
### Summary
Currently only a digest showed as the output after notation sign successfully executed. What is this digest about, the digest of the signature, signature manifest or image manifest? see example below:
[code]
nowadays the digest is actually the digest of image manifest.
### User Scenario
As a user, after I sign an image or artifact successfully, I want to know where the signature is sto

[2022-08-13 02:32] yizha1 opened #304 "UX: Improve the help doc and output for verification"
### Summary
Currently only a digest showed as the output after notation verify successfully executed. What is this digest about: the digest of the signature, signature manifest or image manifest? see example below:
[code]
Currently the digest from the output is actually the digest of image manifest.

The help doc for notation verify is not accurate as well. Currently it is showed as below:
[code]

[2022-08-15 16:50] dtzar commented on #238
Consolidating to 172, closing this a duplicate.

[2022-08-15 16:50] #238 closed

[2022-08-16 09:04] shizhMSFT commented on #303
We might also need to make output script-friendly.

[2022-08-16 17:34] dtzar commented on #303
Yes there could be something like a `-o json` option to output it json format

[2022-08-16 22:07] dtzar opened #305 "Add [Preview] to notation subcommands help"
Per the [discussion here](https://github.com/notaryproject/notation/discussions/257#discussioncomment-3204893), we should enable a [Preview] or [Experimental] option in the help menu for the root `notation -h` and `notation _subcommand_ -h` which are present, but either not well (or at all) tested but we want to leave in for people to try to utilize.

This will help set proper expectations with th

[2022-08-18 13:34] yizha1 commented on #297
notation v0.10.0-alpha.3 was released

[2022-08-18 14:18] #275 closed

[2022-08-18 15:00] FeynmanZhou opened #307 "Update download link and refactor the documentation directory"
Notation CLI has released [v0.10.0-alpha.3](https://github.com/notaryproject/notation/releases/tag/v0.10.0-alpha.3) but the download link in README is out-of-date. I would like to raise a PR to update it and refactor the whole content structure.

[2022-08-18 16:33] #297 closed

[2022-08-22 06:23] yizha1 opened #310 "refactor notation-core-go for COSE support"

[2022-08-22 06:31] JeyJeyGao commented on #310
I'm working on this task.

[2022-08-24 08:16] yizha1 commented on #300
Could you give an example of the following items?
- Parsing the provided parameters
- The formatted output

[2022-08-24 09:02] shizhMSFT opened #312 "Remove unused options for `notation cert generate-test`"
The `--expiry` option in the `notation cert generate-test` is no longer honored since the command generates a cert chain instead of a self-signed cert.

Let's remove this option to reduce confusion.

[2022-08-24 09:05] shizhMSFT commented on #277
Since `notation` CLI is a binary, we should go straight to `1.19` only.

[2022-08-24 09:06] patrickzheng200 commented on #312
Will take a look.

[2022-08-25 14:41] shizhMSFT commented on #279
The original comment is to refactor the following code to a function:
https://github.com/notaryproject/notation/blob/4bf25dfacf0239823311e470b702ceb0435a0299/cmd/notation/registry.go#L54

[2022-08-25 14:53] yizha1 commented on #280
Errors are already printed to stderr, so suggest closing this issue @iamsamirzon

[2022-08-25 15:00] shizhMSFT commented on #281
Went through all existing code. Currently, we are not overwriting any files except updating config files.

The original comment was there for docker plugins. However, those plugins have already been removed.

[2022-08-25 15:15] shizhMSFT commented on #281
Reopen the issue as `notation sign` has an `--output` option and may overwrite file. However, I think we don't need user confirmation as per common Unix / Linux experience.

[2022-08-25 22:35] #307 closed

[2022-08-26 15:15] SteveLasker commented on #15
Thanks @yizha1, yup an old one now resolved.

[2022-08-26 15:15] #15 closed

[2022-08-26 15:16] SteveLasker commented on #16
Closing as an old item

[2022-08-26 15:16] #16 closed

[2022-08-26 15:25] SteveLasker commented on #229
`list` would be the entire list of signatures for an artifact, while `inspect` would be details on a specific signature.

[2022-08-29 14:53] iamsamirzon commented on #280
@priteshbandi  - Could you confirm and close this issue is fixed as expected?

[2022-08-29 23:18] 1235467Ad opened #317 "I need To have a Judge Declare My Emancipation Proclamation."
What's the Simplest way to go? Like I have no Idea Where to Start What do I do?

[2022-08-29 23:25] 1235467Ad commented on #305
Thank You Generous Contributer.

[2022-08-30 06:25] yizha1 opened #320 "Failed to sign images using self-signed certificates created from Key vault"
**Summary**

Notation alpha.3 release is used. Follow the steps according to the workflow https://docs.microsoft.com/en-us/azure/container-registry/container-registry-tutorial-sign-build-push

After creating self-signed certificates in AKV, signing image doesn't work.

[code]

**Desired Result**

Notation sign and verify should work easily using self-signed certificates from a KV.

[2022-08-30 06:28] yizha1 commented on #320
@iamsamirzon This is the issue we discussed today. The self-signed certificate doesn't work as usual. certificate chain is expected, but it is too cumbersome to create a self-signed certificate chain. Could you add the PR that @priteshbandi is working on? I added this issue to alpha-3 milestone, we can update it to a new milestone later.

/cc @FeynmanZhou @dtzar

[2022-08-30 09:43] FeynmanZhou commented on #320
The certificate chain validation requirement was updated in this spec by https://github.com/notaryproject/notaryproject/pull/162.

[2022-08-31 08:57] JeyJeyGao commented on #217
resolved by
https://github.com/notaryproject/notation-go/pull/104
https://github.com/notaryproject/notation-go/pull/90

[2022-08-31 09:33] #217 closed

[2022-09-01 02:43] iamsamirzon commented on #320
@FeynmanZhou - I have created an issue to relax the certificate chain requirement. refer https://github.com/notaryproject/notaryproject/issues/192. I think we now need to assign this issue to a crypto SME to identify which all Notary project specifications need updating and then do a pull request.

[2022-09-01 07:46] yizha1 commented on #320
Thanks @iamsamirzon  we can close this issue by tracking https://github.com/notaryproject/notaryproject/issues/192

[2022-09-01 07:55] FeynmanZhou opened #325 "Spec to configure & persist signature envelope format for signing."
As Notation will support both JWS and COSE signing envelop in RC.1, users need to add a tag `--envelope-type cose` using the `notation sign` to sign artifacts each time, see [this step](https://github.com/notaryproject/notation/pull/321/files#diff-5ee576e5310c38838325bd223d08cdf0ecbfb083e68142de58e1d4980a9aefd0R99) for details.

Is it more convenient to provide a system (global) configuration opti

[2022-09-01 09:47] #312 closed

[2022-09-01 09:48] #220 closed

[2022-09-01 14:41] iamsamirzon commented on #320
@yizha1  - Lets keep this issue open to ensure the use case of AKV is met once the certificate chain requirements are relaxed.

[2022-09-02 02:56] JeyJeyGao commented on #277
I will work on this task.

[2022-09-02 09:14] JeyJeyGao commented on #325
I will work on this task.

[2022-09-02 13:40] yizha1 commented on #243
This issue is part of #38

[2022-09-06 02:32] JeyJeyGao opened #328 "config management command is missing"
#325 proposed to add a `envelopeType` argument in config.json file. As more and more arguments added to config.json, we need a user friendly command to manage config information.

Here is a proposal for the `config` command:

## set a config argument
$notation config set --envelope-type=jws
$notation config set --insecure-registry=registry.github.io

## get a config value
$notation config get --en

[2022-09-06 07:54] JeyJeyGao commented on #328
The proposal has been cancelled.

[2022-09-06 07:54] #328 closed

[2022-09-06 07:57] JeyJeyGao commented on #325
Related PR:
https://github.com/notaryproject/notation/pull/329
https://github.com/notaryproject/notation-go/pull/126

The PRs will be merged to cose branch.

[2022-09-07 22:55] gokarnm commented on #300
I've updated the list of log items (not exhaustive), and removed "Parse parameters" and "Formatted output".

[2022-09-08 05:55] gokarnm commented on #91
`--trust` may have been a parameter supported in early alpha releases, I'm not able to find a reference to it. The overall reason this issue was created was to track documenting the CLI experience (spec) for Sign (and Verify) command so that we can gather feedback from the community and finalize the CLI experience that can be then implemented.

[2022-09-08 07:29] yizha1 commented on #91
I will start to update the sign command in notation_cli.md (like verifying existing options, adding examples) and then issue a PR for a review. This PR can also be used to align rc.1 sign behavior. What do you think? If we agree with this initiative, we can later do the same thing for other commands.

[2022-09-08 15:55] gokarnm commented on #91
Yes, that sounds great. We want to go through each command that we want to stabilize in RC1 and define/review the experience.

[2022-09-08 16:21] dtzar commented on #300
Per discussion on call today, I think this makes sense in RC.1 for just the sign and verify commands.  2nd priority may be the login.

[2022-09-09 11:01] yizha1 commented on #91
@gokarnm @SteveLasker @dtzar Any thoughts on the following proposal, if you all agree, I can issue a PR to update the sign CLI document to fix the following issues and add more examples as well.
- Since TSA based timestamping will not be available in rc.1, I propose to remove the following option from `notation sign` command:

[code]
- Currently after a successful sign, the signature is pushed to

[2022-09-13 03:12] #277 closed

[2022-09-13 05:51] yizha1 opened #335 "Notation CLI supporting OCI reference type"
`Notation CLI` depends on `Notation-go` to support OCI reference type. The `Notation-go` work item is tracked here at https://github.com/notaryproject/notation-go/issues/136. Besides the update in `Notation-go`, this issue tracks any other tasks of `notation CLI` to support OCI reference type.

[2022-09-15 15:59] iamsamirzon commented on #335
@yizha1  - I think this item and https://github.com/notaryproject/notation-go/issues/136 should both be for RC.1.

cc: @vaninrao10

[2022-09-19 16:13] vaninrao10 commented on #230
https://github.com/notaryproject/notaryproject/issues/163 -  As discussed in the community meeting "09/15" to be moved to Post RC1.

[2022-09-19 20:14] vaninrao10 commented on #228
@yizha1 and @FeynmanZhou - Can you point us to the notation verify CLI command spec ? We believe @iamsamirzon and I that notation verify CLI command is ready but until we verify it against the spec we wont know if we are done.

[2022-09-20 00:26] iamsamirzon commented on #91
as discussed in the meeting on 9/19
 - "-e" option should stay for RC-1. "-t" option can be removed for the RC-1
 - Lets remove "notation cache".. , if "cache" is removed, there is no need for "notation push/pull" commands?
 - The notation push and pull were created to push and pull signatures from and to cache. Additionally, there are no near term use cases for "Cache" in RC-1, so we can remove i

[2022-09-22 07:29] yizha1 opened #345 "Add version command for notation CLI"
Currently `notation version` doesn't work, user has to use `--version` to print out the version info, which is limited and generated by CLI framework.
[code]
`version` command is widely used by many command tools, notation CLI should support `version` command for a stable release. Here is a request to add `notation version ` command, and the following printout is a suggestion for a minimal informa

[2022-09-22 07:43] yizha1 opened #346 "Fix command-line syntax"
Currently, if user executes command `notation sign --help`, the print-out shows
[code]
The `reference ` parameter is mandatory, and the `flags `parameters are optional.
We should improve command-line syntax to give users a clear indication. Strongly suggest fixing the syntax for rc.1 release.

Suggest using the following syntax:

<html>
<body>
<main id="main" role="main" data-bi-name="content" lan

[2022-09-22 16:28] dtzar opened #347 "Bump notation-go libraries for alpha-4 release"

[2022-09-22 19:17] iamsamirzon commented on #320
@yizha1 - Could you retest this with the next weekly build, before we create Alpha-4.

[2022-09-22 23:44] dtzar commented on #300
@iamsamirzon Can you please rescope this item to just sign/verify?

[2022-09-23 00:34] iamsamirzon commented on #300
Modified the issue description to just focus on Sign and Verify commands for RC-1. This limited scope was discussed and agreed in the NV2 meeting on 9/8/2022

[2022-09-23 03:17] yizha1 commented on #228
@vaninrao10 @iamsamirzon There are still CLI spec and verify implementation work. I am now working on "notation sign CLI spec" and "trust store", I will start working on verify CLI spec soon. The implementation of verify is WIP for trust policy and store workflow. The overall status is "In progress"

[2022-09-23 03:43] yizha1 commented on #240
@dtzar @iamsamirzon @vaninrao10 @gokarnm @priteshbandi  I think this user story is done except the plugin CLI, which is tracked by other user stories. And for rc.1, `notation plugin list` will be the only command, I can create a PR to address the `notation plugin list` spec for rc.1

[2022-09-23 14:42] vaninrao10 commented on #320
@yizha1 can you please see if this can be done before we create Alpha-4 ?

[2022-09-24 12:19] yizha1 commented on #320
@vaninrao10  Need merge https://github.com/notaryproject/notation-go/pull/147 and https://github.com/notaryproject/notation-go/pull/131 firstly, then I can verify it use latest notation-go and notation-core-go.

[2022-09-26 15:10] #231 closed

[2022-09-26 19:32] dtzar commented on #347
Looks like https://github.com/notaryproject/notation/pull/357 might resolve this issue...

[2022-09-26 21:29] dtzar commented on #91
Agree with Samir's three bullets.  expiry wouldn't really change as it is just a user-defined timestamp.
As far as `--push-reference` I'd also agree to remove.

With cache - we should remove the `notation cache` command for RC.1.  That said - my guess is that when we enable local signing post RC.1, we would want/use the actual signature local so we could use that code.  I'd check with the develope

[2022-09-28 15:55] vaninrao10 commented on #320
@yizha1  both https://github.com/notaryproject/notation-go/pull/147 and https://github.com/notaryproject/notation-go/pull/131. Is there any blocker for verification ?

[2022-09-28 17:02] vaninrao10 commented on #347
The Pull request #357 is merged and hence closing this issue.

[2022-09-28 17:02] #347 closed

[2022-09-28 17:02] vaninrao10 commented on #347
The Pull request #357 is merged and hence closing this issue.

[2022-09-28 19:21] dtzar commented on #320
@vaninrao10 - If I get someone to approve https://github.com/notaryproject/notation/pull/363 then I can kick off another dev build so we can all test it easily.  Else we have to manually create a build to test.

[2022-09-28 19:47] vaninrao10 commented on #320
@dtzar Pritesh has approved it.

[2022-09-28 20:33] dtzar commented on #320
We can now test with this: https://github.com/notaryproject/notation/releases/tag/v0.10.0-alpha.3.dev.20220928

[2022-09-28 21:07] vaninrao10 commented on #320
@dtzar - Should it have been alpha.4 instead of 3

[2022-09-28 21:08] dtzar commented on #320
Nope - it will be that when you do the actual alpha.4 release.  This is just to test to make sure before Alpha.4 - effectively those should be the same bits though.

[2022-09-29 00:21] yizha1 commented on #320
Hi @vaninrao10 and @dtzar, I will start to verify the dev build, and let you know the results before Thursday community call.

[2022-09-29 03:46] FeynmanZhou commented on #224
Hi @SteveLasker @yizha1 @shizhMSFT @iamsamirzon

I can start to work on this issue to add more examples to the CLI help doc in [these source files](https://github.com/notaryproject/notation/tree/main/cmd/notation) and format for arguments.

[2022-09-29 11:57] yizha1 commented on #320
Verified successfully using dev build https://github.com/notaryproject/notation/releases/tag/v0.10.0-alpha.3.dev.20220928. Alpha.4 is good to go.

[2022-09-29 16:34] #320 closed

[2022-10-01 13:27] yizha1 commented on #225
PR created for Trust store CLI spec https://github.com/notaryproject/notation/pull/361

[2022-10-03 22:51] vaninrao10 commented on #272
Completed adding the unit test for Sign/Verify https://github.com/notaryproject/notation-core-go/tree/main/signature/jws

[2022-10-03 22:51] #272 closed

[2022-10-03 23:16] priteshbandi commented on #241
Whats the difference between this and https://github.com/notaryproject/notation/issues/240?

[2022-10-04 00:49] dtzar commented on #241
@priteshbandi - this is to make sure that **plugin list** works for RC-1.  The other is to make sure that sign and verify works with plugins.

[2022-10-06 17:09] dtzar commented on #325
Need to address plugin use case handling. @priteshbandi will copy over comment from PR here, per community call today.

[2022-10-07 03:52] priteshbandi commented on #203
Having different defaults for different configurations will be confusing and cumbersome for customers/users.

I think a setting like `configuration-behavior` with the default of `user` makes sense to avoid mis-configuration because if user creds are compromised a malicious actor can replace the notation invocation with the invocation to the dummy executable rendering our config protection useless.

[2022-10-07 20:55] dtzar opened #369 "Auto remove old weekly dev builds"
Unfortunately, there is no way I could find to filter out the weekly developer builds from the notation repository.  The weekly developer builds are only useful for 2 weeks at the most.  This also makes it hard for someone to find the last full release.

I propose that the weekly developer build automatically deletes the n-1 or n-2 weekly developer build release and tag so at most there is only on

[2022-10-11 04:18] dtzar commented on #203
https://github.com/notaryproject/notation/blob/main/specs/directory.md

[2022-10-11 13:21] yizha1 opened #377 "Release a new version of notation"
- [ ] Decide on main commit for this release
       - Commit: [9a65243b4](https://github.com/notaryproject/notation/commit/9a65243b402df4bad7b74ff2fa073abc7d625a48)
- [x] Update dependencies in go.mod
       - `notation-core-go` from `v0.1.0-alpha.3.0.20220929020818-b5df54c7465b` to `v0.1.0-alpha.4`
       - `notation-go` from `v0.10.0-alpha.3.0.20220927020950-2bcfd343f974` to `v0.11.0-alpha.4`
-

[2022-10-12 04:16] priteshbandi opened #379 "Remove signature cache for all(sign, verify, etc) command."
PR: https://github.com/notaryproject/notation/pull/365

[2022-10-12 04:38] chloeyin commented on #379
Both push and verify will need to speculate format now not only for caching.
For verifying, the new verification workflow with trust store and trust policy doesn't need to speculate format because it will pull from remote.
https://github.com/notaryproject/notation-go/blob/3d8de5f05facb36c97df60de6e49c936e5ac6b41/verification/verifier.go#L100-L116

For pushing, there is a flag named `signatures`, w

[2022-10-12 16:05] FeynmanZhou opened #383 "Add examples for notation command help doc"
We need to add more examples in `--help` information for each command in Alpha.4. These examples will be straightforward and easy to understand the typical usage of each command line with its flags.

Users can easily find these references using the `--help` for each `notation` command line and its flag. This will be a good foundation for further updates.

- [ ] notation sign
- [ ] notation verify

[2022-10-12 21:08] priteshbandi opened #385 "Implementing login/logout command"
Implementing login/logout  command according to the spec

Intended Outcome
notation login/logout command works as defined in the spec

Additional context

[2022-10-12 21:08] priteshbandi opened #386 "Implementing list command"
Implementing list command according to the spec

Intended Outcome
notation list command list signatures as defined in the spec

Additional context

[2022-10-12 22:18] priteshbandi opened #387 "Specification for login/logout, list, plugin commands"

[2022-10-12 22:21] priteshbandi opened #388 "Implementing plugin command"
Implementing list command according to the spec

Intended Outcome
notation plugin list command lists plugin as defined in the spec

Additional context

[2022-10-12 22:55] priteshbandi opened #389 "Implementing key command"
Implementing key command according to the spec

Intended Outcome
notation key  command allows manipulation of key config as defined in the spec

Additional context

[2022-10-12 22:58] priteshbandi opened #390 "Implementation for configure & persist signature envelope format for signing."
Implement as per https://github.com/notaryproject/notation/issues/325

[2022-10-12 23:16] priteshbandi opened #391 "Threat Modeling for notation (TS+TP+Envelope)"
Threat modeling involves identifying ways that an adversary might try to attack notation and then designing mitigations to prevent, detect or reduce the impact of those attacks.

Aspect:
TS+TP+Envelope - 1 SDE week

Other Aspect is tracked under the issue : [https://github.com/notaryproject/notation/issues/409](https://github.com/notaryproject/notation/issues/409)

[2022-10-13 00:05] priteshbandi opened #392 "Dead code cleanup and other quality improvements"
- [ ] Cleanup dead code cleanup in notation-core-go refactoring.
- [ ] [verification/helpers.go#L85: support more types of URI like "domain.com/repository", "domain.com/repository:tag"](https://github.com/notaryproject/notation-go/blob/75b3248459d677d2a6abcae3dd880775f4456271/verification/helpers.go#L85)
- [ ] [verification/verifier.go#L165: verify the plugin's version is equal to or greater than

[2022-10-13 09:00] patrickzheng200 commented on #288
Closing this issue due to the merge of [PR 75](https://github.com/notaryproject/notation-core-go/pull/75)

[2022-10-13 09:00] #288 closed

[2022-10-13 09:01] patrickzheng200 commented on #287
Closing this issue due to the merge of [PR 75](https://github.com/notaryproject/notation-core-go/pull/75).

[2022-10-13 09:01] #287 closed

[2022-10-13 13:09] JeyJeyGao commented on #203
According to our meeting discussion, we can provide a system level /etc/notation/config.json file which contains an attribute `EnableUserLevelDirectory` with default value `true`, representing reading from user level directory firstly then reading system level directory. If it is `false`, only read from system level. This design requires system level read permission.
@shizhMSFT @yizha1 @FeynmanZho

[2022-10-13 13:20] SteveLasker commented on #203
A secure by default scenario would suggest system is the default and the user must have admin privileges to enable the less secure user config.
As a security tool, seems we really need to start with a secure by default position to avoid the ease for a bad actor to make insecure changes.

[2022-10-13 16:31] dtzar commented on #391
Discussed on community call today.  Would be good to have some brief things written out for process of trying to find vulnerabilities and then if issue(s) found, file issue(s) to help mitigate.  Idea would be work shared amongst dev area ownership for those who are most familiar with codebase.  Needs estimate.

[2022-10-13 16:33] dtzar commented on #391
Putting this for RC-1, but this would be last thing which could potentially be cut and pushed to RC-2.  IMO - I believe would be good right after RC-1 and if we find things, ok to release shortly after fix/patches from RC-1.

[2022-10-13 16:41] dtzar commented on #194
This is already completed.

[2022-10-13 16:41] #194 closed

[2022-10-13 16:47] priteshbandi commented on #304
We also need to make output script-friendly.

[2022-10-13 17:04] #163 closed

[2022-10-13 20:40] dtzar commented on #203
Key decisions here as I see it:
1. Do we even allow a configuration in two places (i.e. user and system)?
2. If yes to 1 then do we allow _anything_ in both places or just the non-security-specific configuration?
3. If yes to 1 then how do we handle which trumps the other in priority?

If no to 1, then we don't need to discuss 2 and 3.

[2022-10-14 05:24] shizhMSFT commented on #203
We have identified at least three parties involved in the E2E scenarios: `Signer`, `Verifier`, and `System Admin`.

- A `Signer` SHOULD be able to sign even if there is no system configuration. Here an example scenario:
  1. Alice downloads the `notation` CLI binary and corresponding signing plugins, and installs them _without root access_.
  2. Alice adds her signing keys using `notation key add`

[2022-10-14 13:53] SteveLasker commented on #203
Thanks @shizhMSFT, @dtzar
The thing I’m most concerned with is a build redirecting the signing or verification to bypass the intended secure scenario.
Can we say:
If the notation cli is installed in the root, it must be configured with root access?  This would enable the other scenarios when a needs local control

[2022-10-14 14:53] SteveLasker commented on #203
The goal is to avoid a bad actor to override a system configuration.
If the admin scenario is configured, wouldn’t there be a config, or trust store/policy in an admin path?
Can we check for the existence of that admin/root configuration and only allow that to be overridden if the root level config to enable user override is set?

[2022-10-17 03:23] yizha1 commented on #387
Is this PR https://github.com/notaryproject/notation/pull/362 addressing this issue?

[2022-10-17 03:36] yizha1 commented on #292
Closed as COSE PR merged.

[2022-10-17 03:36] #292 closed

[2022-10-17 03:36] yizha1 commented on #291
Closed as COSE PR merged.

[2022-10-17 03:36] #291 closed

[2022-10-17 03:37] yizha1 commented on #290
Closed as COSE PR merged.

[2022-10-17 03:37] #290 closed

[2022-10-17 03:38] yizha1 commented on #289
need to update spec for `notation sign` to support sign with COSE envelope.

[2022-10-17 05:30] yizha1 opened #398 "Trust policy UX in rc.1"
This is going to vary based on the user's operating system.  IMO we should consider if we can get a "bare bones" cli implementation which simply writes a template similar to what's there to the user's proper directory (i.e. **notation policy create -n default**) and possibly opens it up or lists where it is at.  (i.e. **notation policy list** or **notation policy open** (optional **--name default*

[2022-10-17 06:49] yizha1 commented on #346
This issue will be fixed by the updates on CLI specs.

[2022-10-17 07:16] yizha1 commented on #377
v0.11.0-alpha.4 released.

[2022-10-17 07:16] #377 closed

[2022-10-17 23:06] priteshbandi commented on #325
Reopening as spec work is pending and assigning it to @rgnote.

- [ ] Define how default sig format will work
- [ ] and how will it will be influenced by plugin

[2022-10-17 23:44] priteshbandi commented on #203
From security perspective
        Scenario 1 - works with user specific policy
        Scenario 2:  works with user specific policy
        Scenario 3: - Can this work with specific policy? usually dedicated server will run as a specific user, can notation use that user's role?

From usability perspective
Having an organization specific trust store that's distributed to all the hosts is one scenar

[2022-10-18 00:34] priteshbandi commented on #203
As per discussion in Notary v2 meeting on 10/17 for RC1 we will only support user level config and punt system level config for RC2.
Reason: <TBD>

[2022-10-18 02:41] yizha1 commented on #91
Closed since PR #341 merged

[2022-10-18 02:41] #91 closed

[2022-10-18 02:59] yizha1 commented on #346
Close it as this issue is addressed by CLI specs.

[2022-10-18 02:59] #346 closed

[2022-10-18 03:03] yizha1 commented on #390
- [ ] Implementation in notation-go by https://github.com/notaryproject/notation-go/pull/159
- [ ] Implementation in notation by https://github.com/notaryproject/notation/pull/400

[2022-10-18 03:03] yizha1 commented on #390
@JeyJeyGao is doing the implementation now

[2022-10-18 04:34] priteshbandi commented on #390
Hi Yi - Here we need implementation to adhere by specification because we are yet to define how signature-format flag will work with plugin.

[2022-10-18 04:41] yizha1 commented on #390
I saw you re-opened the spec. I have thought the spec is done because it was closed previously.

[2022-10-18 05:25] priteshbandi opened #403 "Support pagination as default option in notation list CLI."
Maybe we can create another issue to address your comments. The implementation depends on the behavior of `oras-go` library. IMO, the current spec is good enough for rc.1 release.

_Originally posted by @yizha1 in https://github.com/notaryproject/notation/pull/362#discussion_r991009489_

[2022-10-18 07:08] shizhMSFT commented on #403
The [Referrers()](https://pkg.go.dev/oras.land/oras-go/v2@v2.0.0-rc.3.0.20221017083622-5416ed6a6bde/registry/remote#Repository.Referrers) API in `oras-go` is paginated.

[2022-10-18 07:27] JeyJeyGao commented on #390
I'm working on this task.

[2022-10-18 07:50] #228 closed

[2022-10-18 12:30] #387 closed

[2022-10-18 18:31] priteshbandi commented on #398
Should this be in RC2 ? We can provide commands to open trust policy in documentation and help.

[2022-10-18 19:51] sajayantony commented on #283
Sharing a proposal here - https://hackmd.io/5PmzMOcrSRaCUJzuy_Gbhg
@gokarnm @toddysm @shizhMSFT

[2022-10-19 00:15] yizha1 commented on #398
The purpose of this issue is to agree on what we will do in RC-1. If nothing needs to be done, then we can close it. If not, we can assign people to work on it. IMO, at least documentation work needs to be done, but it's better to figure out what kind of document and where it should be put.

[2022-10-19 03:33] patrickzheng200 commented on #379
Implementation PR merged into main. Closed this issue.

[2022-10-19 03:33] #379 closed

[2022-10-19 19:14] priteshbandi commented on #398
For RC1: yes, we can add documentation on editing the trust policy document. But anything beyond documentation should come after RC1.

We could add documentation in getting started guide.

[2022-10-20 19:09] dtzar opened #408 "Address Open SSF scorecard issues"
Address all high and medium issues found https://github.com/notaryproject/notation/security/code-scanning

- [ ] Create a security policy.  This is a [good template to consider](https://github.com/veraison/go-cose/security/policy).

[2022-10-20 19:24] vaninrao10 opened #409 "Threat Modeling for notation (Dir + Config+Registry Interaction)"
Threat modeling involves identifying ways that an adversary might try to attack notation and then designing mitigations to prevent, detect or reduce the impact of those attacks.

Aspects:
Dir + Config+Registry Interaction - 1 SDE week
Other Aspect of threat model is tracked under - [https://github.com/notaryproject/notation/issues/391](url)

[2022-10-20 22:58] rgnote commented on #325
### Problem
Notation is designed in such a way that signing and verification is signature envelope format agnostic. That means, Notation can transparently work with multiple signature envelope formats at a time. Today, Notation supports two signature envelope formats.

	1. JWS
	2. COSE

Users can select the envelope format by using "--envelope-type" CLI switch. The default envelope format is JWS i

[2022-10-20 22:58] #325 closed

[2022-10-21 15:33] dtzar opened #410 "When no key is present, make key add be the default key"
If there are no keys present for notation and you successfully add a key via `notation key add <key>` it does not make this key the default key and hence when you try to sign something it gives this: `Error: signing key not found`

We should add a check that if there are no keys present, we make the key added the default key without having to pass the --default flag.

[2022-10-21 19:59] rgnote commented on #403
Here is the proposal for supporting pagination in `notation list` command

The default experience for this command will be to list ALL the signatures for a given reference. This is the provided behavior in notation rc.1

After rc.1, `notation list` command will support two new switches

* max-results = <some number>
* next-token = <marker to the next page>

Using these two switches, users will be

[2022-10-21 21:34] lachie83 commented on #40
I'm not following what this issue is about. Is this issue still relevant and if so, could you please provide a little more context to help me understand?

[2022-10-25 01:09] shizhMSFT commented on #403
@rgnote As specified in the [distribution-spec](https://github.com/opencontainers/distribution-spec/blob/main/spec.md#listing-referrers), the Referrers API does not support listing from the middle of the list. Also, the Referrers API does not support specifying the number of max results to be returned.

[2022-10-25 03:55] JeyJeyGao commented on #385
I will work on this task.

[2022-10-25 03:56] JeyJeyGao commented on #386
I will work on this task.

[2022-10-25 04:11] JeyJeyGao commented on #388
I will work on this task.

[2022-10-25 04:13] yizha1 commented on #216
need more work per verify CLI spec

[2022-10-25 19:34] rgnote commented on #403
@shizhMSFT You are right. I was looking at Oras [spec](https://github.com/oras-project/artifacts-spec/blob/main/manifest-referrers-api.md#paging-results). I will update my comment accordingly.

[2022-10-26 05:29] JeyJeyGao commented on #241
I will work on this task.

[2022-10-26 05:53] yizha1 commented on #345
Reopen this issue for implementation is not done.

[2022-10-26 05:54] yizha1 commented on #345
- [ ] spec: https://github.com/notaryproject/notation/pull/376
- [ ] implementation

[2022-10-26 05:56] JeyJeyGao commented on #345
I will work on this item.

[2022-10-27 02:17] #388 closed

[2022-10-27 11:38] yizha1 commented on #303
Any comments? @dtzar @gokarnm @priteshbandi @iamsamirzon @vaninrao10
[code]

[2022-10-27 12:45] yizha1 commented on #304
My proposal @priteshbandi  @dtzar @iamsamirzon @binbin-li @shizhMSFT
[code]

[2022-10-27 14:16] FeynmanZhou commented on #304
@yizha1 It looks better than before. I suggest updating `Verify success` to `Verify succeeded` and also updating `Verify failure` to `signature verification failed`.

I have a few questions:

1. `enforcement level is enforced` looks strange. Per [spec](https://github.com/notaryproject/notaryproject/blob/main/trust-store-trust-policy-specification.md#signature-verification-details),  can we say `si

[2022-10-28 00:43] patrickzheng200 commented on #303
@yizha1 I second what Feynman suggested.

[2022-10-28 02:04] yizha1 commented on #303
@patrickzheng200 @FeynmanZhou Comments taken. I will address them in the PR.

[2022-10-28 02:09] yizha1 commented on #304
1. `enforced` is one of the enforcement levels described in the spec. There are also verification levels, let me find whether we can improve it.
2. `--debug` is to dump the information for troubleshooting, not limited to access log. Users need to understand why signature verification failed and why verification succeeded from an overall verification point of view.

[2022-10-28 03:42] FeynmanZhou commented on #191
@dtzar @yizha1 @notaryproject/notation-release-managers

To avoid duplicate content maintenance work between the website and the code repo, I will migrate all user guides from this repo to notaryproject.dev including https://github.com/notaryproject/notation/blob/main/specs/notation-config.md.

[2022-10-28 04:23] FeynmanZhou commented on #191
@dtzar @yizha1 See https://github.com/notaryproject/notaryproject.dev/pull/80

[2022-10-30 13:14] yizha1 opened #422 "Release a new version of notation CLI"
- [x]  Decide on main commit for this release
- [x]  Update dependencies in go.mod
- [x]  Decide on a tag name for this release
- [x]  Cut branch named with the tag name based on agreed upon main commit
- [x]  Cut a tag

/cc: @dtzar @FeynmanZhou @iamsamirzon @vaninrao10 @shizhMSFT

[2022-10-31 01:50] #390 closed

[2022-10-31 05:53] #345 closed

[2022-10-31 06:03] #216 closed

[2022-10-31 06:26] #385 closed

[2022-10-31 06:45] #389 closed

[2022-10-31 06:46] yizha1 opened #423 "Support expiry duration in days"
With the current implementation, we yet don't support `d` (e.g. `30d` ).

_Originally posted by @shizhMSFT in https://github.com/notaryproject/notation/pull/417#discussion_r1009073464_

`notation sign` command supports an optional `expiry` flag for user to specify a \"best by use\" time for the artifact. The duration can be specified in minutes(m) or/and hours(h). The intention of this issue is to

[2022-10-31 07:38] yizha1 opened #424 "Refactoring: functions in list.go"
Can you please open an issue to track this?

_Originally posted by @priteshbandi in https://github.com/notaryproject/notation/pull/414#discussion_r1009096227_

Refactoring function `printSignatureManifestDigests` in `list.go` after `notation-go` refactoring.

[2022-10-31 08:03] #215 closed

[2022-10-31 08:03] #289 closed

[2022-10-31 08:52] #386 closed

[2022-10-31 12:51] patrickzheng200 opened #426 "define type Errors []error"
In notation certificate command, `errorSlice` is `[]error`. We can define a type `type Errors []error` and implement `func (errs Error) Error string()` to reduce duplicated code. Created this issue to track.

[2022-10-31 13:09] #225 closed

[2022-11-01 00:28] FeynmanZhou commented on #224
@SteveLasker Can you elaborate more on this issue? Do you want a CLI help template for each CLI command help information?

BTW, we are adding some examples to the CLI help doc to make it user-friendly, see this [PR ](https://github.com/notaryproject/notation/pull/384/files#diff-57e247224df3c3a00834459655a0cef7bc91e01bbd78dc8ada5aab036f4509fcR40) as an example.

[2022-11-02 14:43] FeynmanZhou commented on #304
Reply to 2, if `--debug` is to dump the information for troubleshooting, then the output should include the HTTP request and header information.

[2022-11-03 14:44] shizhMSFT opened #429 "bug: long boot time of `notation` binrary"
The boot time of the `notation` binary is unreasonably long.

[code]

It takes over 3 seconds to run `notation version` where it is expected to be done in several milliseconds.

[2022-11-03 14:51] shizhMSFT opened #430 "ux: broken default `notation verify` experience"
The default experience is broken in `beta.1`.

Expected:
1. Download and install the `notation` binary
2. Run `notation verify` against a public registry
3. `notation` should verify the specified artifact using a default policy with system trusted root CAs.

Actual:
1. Download and install the `notation` binary
2. Run `notation verify` against a public registry fails with the following log.

[code

[2022-11-03 16:39] dtzar commented on #193
We should also consider an approach similar to [Docker plugin](https://docs.docker.com/engine/reference/commandline/plugin/).
i.e. `notation plugin install <name>`

[2022-11-03 16:44] iamsamirzon commented on #300
@yizha1  - Now that we are doing refactoring, could you adjust the scope on this item down from 3 weeks to 0.8 weeks like you shared yesterday? Also, lets only focus on the use cases called out in this issue and not include "HTTP/REQ/RESP/POST" like things

[2022-11-03 16:52] iamsamirzon commented on #403
@rgnote  and @shizhMSFT   will discuss this and then likely move it out of RC-1 into RC-2

cc: @vaninrao10

[2022-11-03 17:10] iamsamirzon commented on #392
@yizha1 , @FeynmanZhou   - The first two items ( dead code clean up and more UTs) should get done as part of refactoring the code for Notation-go and Notation CLI. We believe no changes are required in the notation-core-go repo

The third item, "TODOs", Pritesh will identify the must have TODOs.

cc: @vaninrao10 , @shizhMSFT , @dtzar

[2022-11-03 18:10] priteshbandi commented on #430
The user needs to configure trust-store and trust-policy to start using verify operation.
1. Default policy would differ from usecase to usecase. E.g. during build time, customers might want to have strong validations than deployment time.
2. We took a conscious call to not trust the system's roots

[2022-11-03 20:41] iamsamirzon commented on #430
@shizhMSFT  - Was this working in prior version of Notation?

[2022-11-04 01:02] toddysm opened #431 "Mac OS use of Notary CLI fails due to lack of developer verification"
After downloading notation CLI from the releases, starting it failed with error that developer cannot be verified. The workaround is to allow the binary in the security settings but even then another prompt is shown to confirm that the user wants to run it.

We need to improve the experience for Mac OS developers.

[2022-11-04 02:03] shizhMSFT commented on #430
The previous version of `notation` requires a cert but it is relatively easy to do so with a `--cert` option or `notation cert add`. Now, we need to configure the trust policy, which is complex for most new users.

Basically, I'm proposing that we should have an [out of box experience](https://en.wikipedia.org/wiki/Out-of-box_experience) for `notation`.

[2022-11-04 05:16] yizha1 commented on #398
@priteshbandi Besides documentation, we need to think about some built-in policy for users who are not admin or security experts. Some examples just for inspiring.
- The internet explorer doesn't require normal users to manage certificates, there are pre-loaded certificates in the system, and it works by default. Advanced users can manage certificates by themselves. There are also levels of privac

[2022-11-04 06:17] priteshbandi commented on #392
TODOs identified for RC1
### Refactor:
- [ ] https://github.com/notaryproject/notation/blob/f0e77eb4a55c850e2f49d5a1d457105dc4aa5dde/cmd/notation/list.go#L67
- [ ] https://github.com/notaryproject/notation/blob/193a533eac4741489ee2b43cf2d635015eb3be5e/internal/ioutil/print.go#L62
- [ ] https://github.com/notaryproject/notation/blob/193a533eac4741489ee2b43cf2d635015eb3be5e/internal/ioutil/print.go#

[2022-11-04 08:42] FeynmanZhou commented on #430
Same feeling here. The prerequisites of `notation verify` require configuring the Trust Store and Trust Store since Beta.1. It provides fine-grained authenticity and integrity validation which enhance the security level indeed, but it is too complicated for dummy users to learn and understand the TS/TP concepts.

As we are developing an open-source project, the users are not limited to security en

[2022-11-04 11:15] yizha1 commented on #398
Add one idea from @FeynmanZhou

https://github.com/notaryproject/notation/issues/430#issuecomment-1303124675

[2022-11-04 12:18] #237 closed

[2022-11-04 12:18] yizha1 commented on #240
Close as completed.

[2022-11-04 12:18] #240 closed

[2022-11-04 12:18] yizha1 commented on #241
Close as completed.

[2022-11-04 12:18] #241 closed

[2022-11-04 12:28] yizha1 commented on #422
Closed as beta.1 was released

[2022-11-04 12:28] #422 closed

[2022-11-04 12:48] yizha1 commented on #409
@vaninrao10 @dtzar I think we can move this issue to pose rc.1?

[2022-11-04 12:48] yizha1 commented on #408
@dtzar  Can we do it post rc.1?

[2022-11-04 12:48] SteveLasker commented on #398
Just a thought:
The complexity of getting the trust policy file created, with some default options feels like a great first step.
If we consider a secure by default, without TOFU, I struggle with what default roots we’d want to trust from a notation installation default.
And, even if we did, or a particular company wanted to seed their environments with a default, we likely want to make it “easy”

[2022-11-04 13:36] priteshbandi commented on #410
The experience is right but the error message is wrong. Error should say `default signing key not set. Please either set default singing key or specify a key name`.

[2022-11-04 14:25] yizha1 commented on #410
Could there be a quick fix for the error message? I am not sure if the error is printed out from CLI or library

[2022-11-04 14:45] yizha1 commented on #398
Proposal of UX improvement for a quick starter:

Currently, `notation cert generate-test wabbit-network` does the following

- create a local key and self-signed certificate
- Add the key to signing key list with the name `wabbit-network`
- Add certificate to trust store with the name `wabbit-network` of type `ca`

Proposal: add a new step for `notation cert generate-test wabbit-network` to create

[2022-11-04 15:18] priteshbandi commented on #410
Yes, posted PR https://github.com/notaryproject/notation/pull/432

[2022-11-04 18:51] sajayantony commented on #429
/cc @toddysm

[2022-11-04 19:18] dtzar commented on #430
This is related to these two issues to make the experience better.

1. https://github.com/notaryproject/notaryproject/issues/95 - this *should* fix the situation so if someone does `notation verify someregistry.io/somerepo:sometag` AND someregistry.io has let's say posted a public key certificate to the hosted location we say it should be... then we could display a response like: `You don't trust

[2022-11-04 19:21] dtzar commented on #398
We need to have a default template option separate from the `cert generate-test` command, but I agree this would be good also for the cert generate-test command.

[2022-11-04 19:29] dtzar commented on #398
The other aspect of this is making it easier for users trust certificates they have downloaded.  For instance, it could be something like:
[code]

If someone wants to "live on the wild side" and just trust whatever is there:
[code]

[2022-11-04 22:06] vaninrao10 opened #434 "Deadcode cleanup improevment Notation-Go"
Shiwei's Team

[notation/cmd/notation/list.go](https://github.com/notaryproject/notation/blob/f0e77eb4a55c850e2f49d5a1d457105dc4aa5dde/cmd/notation/list.go#L67)

Line 67 in [f0e77eb](https://github.com/notaryproject/notation/commit/f0e77eb4a55c850e2f49d5a1d457105dc4aa5dde)
 // TODO: this is a temporary function and will be replaced after

[notation/internal/ioutil/print.go](https://github.com/nota

[2022-11-04 22:06] vaninrao10 opened #446 "Deadcode cleanup improvement Notation"
Shiwei's Team

- [x] [notation/cmd/notation/list.go](https://github.com/notaryproject/notation/blob/f0e77eb4a55c850e2f49d5a1d457105dc4aa5dde/cmd/notation/list.go#L67)
Line 67 in [f0e77eb](https://github.com/notaryproject/notation/commit/f0e77eb4a55c850e2f49d5a1d457105dc4aa5dde)
 // TODO: this is a temporary function and will be replaced after

- [x] [notation/internal/ioutil/print.go](https://gith

[2022-11-06 20:22] iamsamirzon commented on #430
IMHO, we should not add anything unique for different users - Normal or Professional. How will Notation know if it is a normal or professional user?

I personally like the idea of a default trust policy, perhaps if that trust policy has examples inside ( which are commented out.. so a user has to "uncomment" or refer to use as examples).

[2022-11-07 03:59] FeynmanZhou commented on #430
@iamsamirzon Notation doesn't need to differentiate the user role. The point of abstracting two different types of users is to enable a non-TS/TP option for users who don't have requirements for the fine-grained validation policies in testing and development scenarios.

Providing a default trust policy is a good potion and is already on the roadmap. I am thinking if any possibility to relax the TS

[2022-11-07 07:51] priteshbandi commented on #429
The Pr has been merged, closing the issue

[2022-11-07 07:51] #429 closed

[2022-11-07 07:52] priteshbandi commented on #410
PR had been merged, closing the issue.

[2022-11-07 07:52] #410 closed

[2022-11-07 17:20] dtzar commented on #408
I would suggest the security policy one, Token Permissions, and Pinned Deps ones be done @ RC-1.  I can't imagine all those things take more than ~1 day of work for one person.  The rest, yes post RC-1.

[2022-11-07 19:44] toddysm commented on #431
The best approach we can take for installation on Mac is to use [Brew](https://brew.sh/). Installation via Brew will avoid users seeing security prompts suggesting deleting the binary.

[2022-11-07 19:53] toddysm commented on #204
We should split this into separate issues for each OS.

See #431 for Mac OS

[2022-11-07 20:24] toddysm commented on #398
@iamsamirzon I don't think the expectation is to store the certs in the registry (unless I am mistaken here @dtzar). It is an open question how the cert will be obtained. I see the scenarios of adding a cert to the cert store as follows:
- Manually created on the machine (for testing purposes only) with `notation cert generate-test`. For this one, we can add `*` policy by default (i.e. implicit al

[2022-11-07 22:33] SteveLasker commented on #398
For cert discovery, there’s work in the DID web group for discovering X.509 certs. Microsoft will be publishing our public keys. Ian can likely add some details

[2022-11-08 01:56] FeynmanZhou commented on #398
Considering the one-step command, `notation cert generate-test` is a good option but it might mix the usage of creating the cert only and creating the cert, trust store, and trust policy.

Per today's community, `notation init` looks more appropriate and straightforward to simplify the starter experience.

[2022-11-08 02:07] iamsamirzon opened #438 "Document Typical "Trust Policy" examples that customers may encounter."
For Notation's RC-1 release, lets create a sample of trust policy templates, that customers can use as a reference to build their trust policies.

These examples should be based on real world examples

[2022-11-08 02:09] iamsamirzon commented on #438
@toddysm  - Assigning this one to you first. We all can add other examples later.

cc: @vaninrao10

[2022-11-08 02:51] sajayantony commented on #398
Post call @toddysm and I discussed the issue of cert add without a scope. Basically what is the use of having a certificate without a scope.

For example
`notation cert add` adds it to a trust store but has no policy defined which makes useless until the configuration is complete.

[code]

The user then has to define a policy with a scope or multiple scopes that uses the cert and hence adding a ce

[2022-11-09 01:02] dtzar commented on #398
I believe we need some option which creates the actual policy file on the disk in the proper location when one doesn't exist.

[2022-11-09 06:57] yizha1 commented on #403
Confirmed to move this issue out of rc-1 scope. Now moved to "Discuss". We will review all the issues later for rc-2 release scope.

[2022-11-09 06:58] yizha1 commented on #409
Confirmed to move this issue out of rc-1 scope. Now moved to "Discuss". We will review all the issues later for rc-2 release scope.

[2022-11-09 06:59] yizha1 commented on #391
Confirmed to move this issue out of rc-1 scope. Now moved to "Discuss". We will review all the issues later for rc-2 release scope.

[2022-11-09 08:13] yizha1 commented on #398
As discussed during community meeting, only documentation will be part of RC-1, tracked by https://github.com/notaryproject/notation/issues/438, thus move this issue our of rc.1 scope.

[2022-11-09 08:25] yizha1 commented on #300
Some debug outputs are addressed in the following PRs:

- PR for `notation sign`: https://github.com/notaryproject/notation/pull/439
- PR for `notation verify`: https://github.com/notaryproject/notation/pull/440

More suggestions on `--debug` outputs are welcome. I can make a summary and update the spec accordingly.

@priteshbandi @iamsamirzon @vaninrao10 @gokarnm @FeynmanZhou @toddysm

[2022-11-10 17:55] dtzar commented on #305
Per community call 11/10, we are going to document which subcommands are "supported" for RC1 in the release notes until we potentially implement this.

[2022-11-10 22:35] #191 closed

[2022-11-11 01:39] priteshbandi opened #443 "GenerateEnvelope plugin request doesnot have expiry."
### What is the areas you experience the issue in?

Notation-Core-Go Library

### What is not working as expected?

The generate-envelope plugin request doesnt has access to expiry.

https://github.com/notaryproject/notaryproject/blob/main/specs/plugin-extensibility.md#generate-envelope

[code]

### What did you expect to happen?

the generate-envelope plugin request should have access to expiry

[2022-11-11 01:57] priteshbandi commented on #300
--debug for both sign and verify should also emit signature either in plain text(for jws) or and encoded format(for cose).

[2022-11-11 16:59] toddysm commented on #398
Just a note, #438 is not for rc.1 either. #438 is for discussion of further implementation in trust store and trust policy. The issue we need to track for rc.1 is in the docs project https://github.com/notaryproject/notaryproject.dev/issues/84

[2022-11-11 17:01] toddysm commented on #283
@FeynmanZhou @yizha1 @vaninrao10 is this something we can consider for rc.2?

[2022-11-11 23:44] dtzar commented on #283
@toddysm - the bigger user story is set for RC2, but needs more clarity on scope.  Please comment more on this thread which aspect of "local" you desire.

[2022-11-14 20:43] vaninrao10 commented on #430
Based on last week discussion we will stick with the user guide with example along with the documentation created as per https://github.com/notaryproject/notation/pull/441. Moving this issue to post RC-1.

[2022-11-15 01:36] yizha1 commented on #443
Per community discussion:

- [ ] Update plugin spec
- [ ] Notation Implemention
- [ ] Notation plugin Implemention

[2022-11-15 03:47] yizha1 opened #444 "[Fallback Support]Notation uses OCI image manifest to store the signature in the repository."
### What is the areas you would like to add the new feature to?

Notation CLI

### Is your feature request related to a problem?

`OCI artifact manifest` was introduced in [OCI image spec 1.1.0](https://github.com/opencontainers/image-spec/releases/tag/v1.1.0-rc2). It takes time for registries to be compliant to the 1.1.0 spec. There could be cases that registries decide not uplifted to 1.1.0 spec

[2022-11-15 06:29] FeynmanZhou commented on #335
Per today's community call, Notation will migrate to the OCI artifact manifest from the ORAS artifact manifest in RC.1 and the fallback solution is planned in RC.2.

I am concerned there are still less registries supporting the OCI artifact manifest when RC.1 is available at the end of this month, which means the Notation usability will be broken.

[2022-11-17 17:27] priteshbandi commented on #304
11/17: Create new issue for sign and verify output, specially when signing and verifying with tag.

[2022-11-21 08:40] yizha1 commented on #444
Illustration:
@toddysm @priteshbandi Based on our last discussion, does the following picture help to explain the situation?

![image](https://user-images.githubusercontent.com/107919912/203003591-0434f819-e9ca-4362-b013-7a9b37286bfa.png)

[2022-11-22 02:58] FeynmanZhou opened #448 "Keep the latest dev build release only"
### Discussed in https://github.com/notaryproject/notation/discussions/372

The conclusion is to keep the latest weekly dev build only and clean up the elder dev build releases. The elder dev build does not make sense for real testing cases as it doesn't include the latest PRs in it.

[2022-11-22 03:35] yizha1 commented on #300
update milestone to rc.2 per discussion.

[2022-11-22 03:36] yizha1 commented on #446
update milestone to rc.2 per discussion.

[2022-11-22 03:38] yizha1 commented on #392
updated milestone to rc.2 per discussion

[2022-11-22 11:03] priteshbandi opened #451 "Expiry doesn't support `day`."
Currently `day` is not support yet.

_Originally posted by @yizha1 in https://github.com/notaryproject/notation/pull/439#discussion_r1027584159_

[2022-11-22 11:07] yizha1 commented on #451
@priteshbandi There was an existing issue I created for tracking it. https://github.com/notaryproject/notation/issues/423

[2022-11-22 15:52] priteshbandi commented on #451
Duplicate of https://github.com/notaryproject/notation/issues/423

[2022-11-22 15:52] #451 closed

[2022-11-22 17:53] priteshbandi commented on #444
This fallback is not defined in OCI spec. The only fallback defined in OCI spec is based on referrers API. Do we want to devise fallback based on failure to push artifact manifest? If yes, why?

[2022-11-23 17:52] priteshbandi commented on #89
Tracking it in https://github.com/notaryproject/roadmap/issues/31

[2022-11-23 17:52] #89 closed

[2022-11-23 18:01] priteshbandi commented on #229
Notation supports list command in RC1.
Ref:
Impl: https://github.com/notaryproject/notation/blob/main/cmd/notation/list.go
Spec: https://github.com/notaryproject/notation/blob/main/specs/commandline/list.md

For inspect command is tracked in seperate issue https://github.com/notaryproject/notation/issues/172

[2022-11-23 18:01] #229 closed

[2022-11-23 18:03] priteshbandi commented on #226
Already implemented.

* Spec: https://github.com/notaryproject/notation/blob/main/specs/commandline/key.md
* Implementation: https://github.com/notaryproject/notation/blob/main/cmd/notation/key.go

[2022-11-23 18:03] #226 closed

[2022-11-23 18:09] priteshbandi commented on #243
This has been already implemented in RC1.

[2022-11-23 18:09] #243 closed

[2022-11-23 18:15] priteshbandi commented on #273
We have refactored the notation and notation-go code as part of RC1.

[2022-11-23 18:15] #273 closed

[2022-11-23 18:30] priteshbandi commented on #431
Other way to handle this is start singing binary for macOS

[2022-11-23 18:40] priteshbandi commented on #276
Discuss with Yi and probably close it if the work is already done

[2022-11-23 18:40] priteshbandi commented on #279
Discuss with Yi and probably close it if the work is already done

[2022-11-23 21:06] priteshbandi commented on #213
Removed from RC2 milestone because its been tracked in https://github.com/notaryproject/notation/issues/172

[2022-11-23 21:21] priteshbandi commented on #423
Tracking it in https://github.com/notaryproject/notation/issues/129

[2022-11-23 21:22] priteshbandi commented on #129
Closed Duplicate issue: https://github.com/notaryproject/notation/issues/423

        With  the current implementation, we yet don't support `d` (e.g. `30d` ).

_Originally posted by @shizhMSFT in https://github.com/notaryproject/notation/pull/417#discussion_r1009073464_

`notation sign` command supports an optional `expiry` flag for user to specify a \"best by use\" time for the artifact. The dur

[2022-11-23 21:22] #423 closed

[2022-11-25 07:58] FeynmanZhou commented on #448
There was a duplicate issue in https://github.com/notaryproject/notation/issues/369. We can close both after PR #449 is merged.

[2022-11-28 05:48] yizha1 opened #455 "Implement script-friendly output for notation commands"
For the script-friendly output, `notation` has the same issue as https://github.com/oras-project/oras/issues/638

_Originally posted by @shizhMSFT in https://github.com/notaryproject/notation/pull/440#discussion_r1032189538_

[2022-11-28 07:05] yizha1 opened #456 "Use tagged version for references."
Need a todo or issue to track work item "replace `main` with a tagged version".

_Originally posted by @shizhMSFT in https://github.com/notaryproject/notation/pull/440#discussion_r1031999215_

[2022-11-29 17:11] #203 closed

[2022-11-29 17:12] #335 closed